{
    "openapi": "3.0.0",
    "servers": [
        {
            "description": "Phantombuster api",
            "url": "https://api.phantombuster.com/api/v2"
        },
        {
            "description": "SwaggerHub API Auto Mocking",
            "url": "https://virtserver.swaggerhub.com/Phantombuster/Phantombuster-v2/2.0.0"
        }
    ],
    "info": {
        "description": "Phantombuster API v2. Swagger api specification is located at https://github.com/phantombuster/public-gists/blob/master/swagger-api-v2.json",
        "version": "2.0.0",
        "title": "Phantombuster API v2",
        "contact": {
            "email": "contact@phantombuster.com"
        },
        "license": {
            "name": "ISC",
            "url": "https://opensource.org/licenses/ISC"
        }
    },
    "components": {
        "securitySchemes": {
            "apiKeyAuth": {
                "type": "apiKey",
                "in": "header",
                "name": "X-Phantombuster-Key"
            }
        },
        "parameters": {
            "orgId": {
                "in": "header",
                "name": "X-Phantombuster-Org",
                "description": "ID of the org that is perfoming the operation (not necessary when using a third party key)",
                "schema": {
                    "type": "string"
                }
            }
        }
    },
    "security": [
        {
            "apiKeyAuth": []
        }
    ],
    "tags": [
        {
            "name": "sessions"
        },
        {
            "name": "branches"
        },
        {
            "name": "scripts"
        },
        {
            "name": "users"
        },
        {
            "name": "orgs-users"
        },
        {
            "name": "orgs"
        },
        {
            "name": "events"
        },
        {
            "name": "containers"
        },
        {
            "name": "agents"
        },
        {
            "name": "admin"
        },
        {
            "name": "org-storage"
        },
        {
            "name": "identities"
        },
        {
            "name": "brightdata"
        },
        {
            "name": "location"
        }
    ],
    "paths": {
        "/orgs/export-agent-usage": {
            "get": {
                "description": "Gets a csv file containing agent usage info of the current user's organization. Test.",
                "tags": [
                    "orgs"
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                },
                "parameters": [
                    {
                        "in": "header",
                        "name": "X-Phantombuster-Org",
                        "description": "ID of the org that is perfoming the operation (not necessary when using a third party key)",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "in": "query",
                        "name": "days",
                        "required": true,
                        "description": "How many days of data to export. The number of days should not exceed 6 months.",
                        "schema": {
                            "type": "string",
                            "description": "How many days of data to export. The number of days should not exceed 6 months."
                        }
                    }
                ]
            }
        },
        "/orgs/export-container-usage": {
            "get": {
                "description": "Gets a csv file containing container usage info of the current user's organization.",
                "tags": [
                    "orgs"
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                },
                "parameters": [
                    {
                        "in": "header",
                        "name": "X-Phantombuster-Org",
                        "description": "ID of the org that is perfoming the operation (not necessary when using a third party key)",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "in": "query",
                        "name": "days",
                        "required": true,
                        "description": "How many days of data to export. The number of days should not exceed 6 months.",
                        "schema": {
                            "type": "string",
                            "description": "How many days of data to export. The number of days should not exceed 6 months."
                        }
                    },
                    {
                        "in": "query",
                        "name": "agentId",
                        "description": "If set, the data will only be exported for this agent.",
                        "schema": {
                            "type": "string",
                            "description": "How many days of data to export. The number of days should not exceed 6 months."
                        }
                    }
                ]
            }
        },
        "/orgs/fetch-agent-groups": {
            "get": {
                "description": "Gets the agent groups and order of the current user's organization.",
                "tags": [
                    "orgs"
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "anyOf": [
                                            {
                                                "type": "string"
                                            },
                                            {
                                                "type": "object",
                                                "title": "IAgentGroup",
                                                "properties": {
                                                    "id": {
                                                        "type": "string"
                                                    },
                                                    "name": {
                                                        "type": "string",
                                                        "maxLength": 100
                                                    },
                                                    "agents": {
                                                        "type": "array",
                                                        "items": {
                                                            "type": "string"
                                                        }
                                                    }
                                                },
                                                "additionalProperties": false,
                                                "required": [
                                                    "name",
                                                    "agents",
                                                    "id"
                                                ]
                                            }
                                        ]
                                    }
                                }
                            }
                        }
                    }
                },
                "parameters": [
                    {
                        "in": "header",
                        "name": "X-Phantombuster-Org",
                        "description": "ID of the org that is perfoming the operation (not necessary when using a third party key)",
                        "schema": {
                            "type": "string"
                        }
                    }
                ]
            }
        },
        "/orgs/save-agent-groups": {
            "post": {
                "description": "Updates the agent groups and order of the current user's organization.",
                "tags": [
                    "orgs"
                ],
                "responses": {
                    "200": {
                        "description": "Groups successfully updated.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "agentGroups": {
                                            "type": "array",
                                            "items": {
                                                "anyOf": [
                                                    {
                                                        "type": "string"
                                                    },
                                                    {
                                                        "type": "object",
                                                        "title": "IAgentGroup",
                                                        "properties": {
                                                            "id": {
                                                                "type": "string"
                                                            },
                                                            "name": {
                                                                "type": "string",
                                                                "maxLength": 100
                                                            },
                                                            "agents": {
                                                                "type": "array",
                                                                "items": {
                                                                    "type": "string"
                                                                }
                                                            }
                                                        },
                                                        "additionalProperties": false,
                                                        "required": [
                                                            "name",
                                                            "agents",
                                                            "id"
                                                        ]
                                                    }
                                                ]
                                            }
                                        }
                                    },
                                    "additionalProperties": false,
                                    "required": [
                                        "agentGroups"
                                    ]
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid agent ids provided."
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "agentGroups": {
                                        "description": "New agent groups. Order of the groups and agents will be kept.",
                                        "type": "array",
                                        "items": {
                                            "anyOf": [
                                                {
                                                    "type": "string"
                                                },
                                                {
                                                    "type": "object",
                                                    "title": "IAgentGroup",
                                                    "properties": {
                                                        "id": {
                                                            "type": "string"
                                                        },
                                                        "name": {
                                                            "type": "string",
                                                            "maxLength": 100
                                                        },
                                                        "agents": {
                                                            "type": "array",
                                                            "items": {
                                                                "type": "string"
                                                            }
                                                        }
                                                    },
                                                    "additionalProperties": false,
                                                    "required": [
                                                        "name",
                                                        "agents",
                                                        "id"
                                                    ]
                                                }
                                            ]
                                        }
                                    }
                                },
                                "additionalProperties": false,
                                "required": [
                                    "agentGroups"
                                ]
                            }
                        }
                    }
                },
                "parameters": [
                    {
                        "in": "header",
                        "name": "X-Phantombuster-Org",
                        "description": "ID of the org that is perfoming the operation (not necessary when using a third party key)",
                        "schema": {
                            "type": "string"
                        }
                    }
                ]
            }
        },
        "/orgs/fetch": {
            "get": {
                "description": "Gets the current organization.",
                "tags": [
                    "orgs"
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "id": {
                                            "type": "string"
                                        },
                                        "name": {
                                            "type": "string",
                                            "pattern": "^(deleted_\\d{1,16}-)?[a-z][a-z0-9-_]{1,48}[a-z0-9_]$"
                                        },
                                        "dailyExecutionTime": {
                                            "type": "number"
                                        },
                                        "dailyMail": {
                                            "type": "number"
                                        },
                                        "dailyCaptcha": {
                                            "type": "number"
                                        },
                                        "dailyDiscoveredMail": {
                                            "type": "number"
                                        },
                                        "dailyAiCredit": {
                                            "type": "number"
                                        },
                                        "s3Storage": {
                                            "type": "number"
                                        },
                                        "s3Folder": {
                                            "type": "string"
                                        },
                                        "planSlug": {
                                            "type": "string"
                                        },
                                        "planStartedAt": {
                                            "type": "number"
                                        },
                                        "timezone": {
                                            "type": "string"
                                        },
                                        "company": {
                                            "type": "string",
                                            "nullable": true
                                        },
                                        "billingAddress": {
                                            "title": "IAddress",
                                            "type": "object",
                                            "properties": {
                                                "street": {
                                                    "type": "string",
                                                    "maxLength": 1000
                                                },
                                                "city": {
                                                    "type": "string",
                                                    "maxLength": 100
                                                },
                                                "zip": {
                                                    "type": "string",
                                                    "maxLength": 100
                                                },
                                                "countryCode": {
                                                    "type": "string",
                                                    "maxLength": 100
                                                }
                                            },
                                            "additionalProperties": false,
                                            "required": [
                                                "street",
                                                "city",
                                                "zip",
                                                "countryCode"
                                            ],
                                            "nullable": true
                                        },
                                        "billingMail": {
                                            "type": "string",
                                            "nullable": true
                                        },
                                        "billingFirstName": {
                                            "type": "string",
                                            "nullable": true
                                        },
                                        "billingLastName": {
                                            "type": "string",
                                            "nullable": true
                                        },
                                        "vatId": {
                                            "type": "string",
                                            "maxLength": 100,
                                            "nullable": true
                                        },
                                        "additionalInvoiceInformation": {
                                            "type": "string",
                                            "maxLength": 100,
                                            "nullable": true
                                        },
                                        "globalObject": {
                                            "type": "string",
                                            "nullable": true
                                        },
                                        "proxies": {
                                            "anyOf": [
                                                {
                                                    "title": "IProxyPoolList",
                                                    "type": "object",
                                                    "x-patternProperties": {
                                                        "^\\d+$": {
                                                            "title": "IProxyPool",
                                                            "type": "object",
                                                            "properties": {
                                                                "name": {
                                                                    "type": "string",
                                                                    "maxLength": 100
                                                                },
                                                                "test": {
                                                                    "type": "boolean"
                                                                },
                                                                "proxies": {
                                                                    "type": "array",
                                                                    "maxItems": 1000,
                                                                    "items": {
                                                                        "type": "object",
                                                                        "properties": {
                                                                            "type": {
                                                                                "type": "string",
                                                                                "enum": [
                                                                                    "http"
                                                                                ]
                                                                            },
                                                                            "address": {
                                                                                "type": "string",
                                                                                "maxLength": 100
                                                                            },
                                                                            "username": {
                                                                                "type": "string",
                                                                                "maxLength": 100,
                                                                                "nullable": true
                                                                            },
                                                                            "password": {
                                                                                "type": "string",
                                                                                "maxLength": 100,
                                                                                "nullable": true
                                                                            },
                                                                            "lastTestDate": {
                                                                                "type": "number",
                                                                                "nullable": true
                                                                            },
                                                                            "lastTestResult": {
                                                                                "type": "string",
                                                                                "nullable": true
                                                                            },
                                                                            "lastTestDescription": {
                                                                                "type": "string",
                                                                                "nullable": true
                                                                            }
                                                                        },
                                                                        "additionalProperties": false,
                                                                        "required": [
                                                                            "type",
                                                                            "address"
                                                                        ]
                                                                    }
                                                                }
                                                            },
                                                            "additionalProperties": false,
                                                            "required": [
                                                                "name",
                                                                "proxies"
                                                            ]
                                                        }
                                                    },
                                                    "additionalProperties": true
                                                }
                                            ],
                                            "nullable": true
                                        },
                                        "crmIntegrations": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "crmName": {
                                                        "type": "string",
                                                        "enum": [
                                                            "hubspot"
                                                        ]
                                                    },
                                                    "refreshToken": {
                                                        "type": "string",
                                                        "maxLength": 300
                                                    },
                                                    "crmAccountId": {
                                                        "type": "string",
                                                        "maxLength": 100
                                                    },
                                                    "contactUpdateOnly": {
                                                        "type": "boolean",
                                                        "default": false
                                                    }
                                                },
                                                "additionalProperties": false,
                                                "required": [
                                                    "crmName",
                                                    "refreshToken",
                                                    "crmAccountId"
                                                ]
                                            },
                                            "nullable": true
                                        },
                                        "qualificationFlow": {
                                            "type": "object",
                                            "properties": {
                                                "email": {
                                                    "type": "string",
                                                    "nullable": true
                                                },
                                                "firstName": {
                                                    "type": "string",
                                                    "nullable": true
                                                },
                                                "lastName": {
                                                    "type": "string",
                                                    "nullable": true
                                                },
                                                "jobTitle": {
                                                    "type": "string",
                                                    "nullable": true
                                                },
                                                "sessionCookie": {
                                                    "type": "string",
                                                    "nullable": true
                                                },
                                                "prospectionCountries": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "string"
                                                    },
                                                    "nullable": true
                                                },
                                                "company": {
                                                    "type": "object",
                                                    "properties": {
                                                        "id": {
                                                            "type": "string",
                                                            "nullable": true
                                                        },
                                                        "name": {
                                                            "type": "string",
                                                            "nullable": true
                                                        },
                                                        "website": {
                                                            "type": "string",
                                                            "nullable": true
                                                        },
                                                        "typeOfOrganisation": {
                                                            "type": "string",
                                                            "enum": [
                                                                "B2B",
                                                                "B2C",
                                                                "Hybrid"
                                                            ],
                                                            "nullable": true
                                                        },
                                                        "market": {
                                                            "nullable": true,
                                                            "type": "array",
                                                            "items": {
                                                                "type": "string"
                                                            }
                                                        },
                                                        "productServices": {
                                                            "type": "array",
                                                            "items": {
                                                                "type": "object",
                                                                "properties": {
                                                                    "id": {
                                                                        "type": "string",
                                                                        "nullable": true
                                                                    },
                                                                    "name": {
                                                                        "type": "string",
                                                                        "nullable": true
                                                                    },
                                                                    "typeService": {
                                                                        "type": "string",
                                                                        "nullable": true
                                                                    },
                                                                    "description": {
                                                                        "type": "string",
                                                                        "nullable": true
                                                                    },
                                                                    "keyFeatures": {
                                                                        "type": "array",
                                                                        "items": {
                                                                            "type": "string"
                                                                        },
                                                                        "nullable": true
                                                                    },
                                                                    "problemsSolvedForCustomers": {
                                                                        "type": "array",
                                                                        "items": {
                                                                            "type": "string"
                                                                        },
                                                                        "nullable": true
                                                                    },
                                                                    "icps": {
                                                                        "type": "array",
                                                                        "items": {
                                                                            "type": "object",
                                                                            "properties": {
                                                                                "id": {
                                                                                    "type": "string",
                                                                                    "nullable": true
                                                                                },
                                                                                "name": {
                                                                                    "type": "string",
                                                                                    "nullable": true
                                                                                },
                                                                                "market": {
                                                                                    "type": "array",
                                                                                    "items": {
                                                                                        "type": "string"
                                                                                    },
                                                                                    "nullable": true
                                                                                },
                                                                                "size": {
                                                                                    "type": "string",
                                                                                    "nullable": true
                                                                                },
                                                                                "buyerPersonas": {
                                                                                    "type": "array",
                                                                                    "items": {
                                                                                        "type": "object",
                                                                                        "properties": {
                                                                                            "id": {
                                                                                                "type": "string",
                                                                                                "nullable": true
                                                                                            },
                                                                                            "name": {
                                                                                                "type": "string",
                                                                                                "nullable": true
                                                                                            },
                                                                                            "countries": {
                                                                                                "type": "array",
                                                                                                "items": {
                                                                                                    "type": "string"
                                                                                                },
                                                                                                "nullable": true
                                                                                            },
                                                                                            "jobs": {
                                                                                                "type": "array",
                                                                                                "items": {
                                                                                                    "type": "string"
                                                                                                },
                                                                                                "nullable": true
                                                                                            },
                                                                                            "painPoints": {
                                                                                                "type": "array",
                                                                                                "items": {
                                                                                                    "type": "string"
                                                                                                },
                                                                                                "nullable": true
                                                                                            },
                                                                                            "goalsKPI": {
                                                                                                "type": "array",
                                                                                                "items": {
                                                                                                    "type": "string"
                                                                                                },
                                                                                                "nullable": true
                                                                                            },
                                                                                            "sourcingLimit": {
                                                                                                "type": "number",
                                                                                                "nullable": true
                                                                                            },
                                                                                            "sourcingPhantomId": {
                                                                                                "type": "string",
                                                                                                "nullable": true
                                                                                            },
                                                                                            "monitoringPhantomId": {
                                                                                                "type": "string",
                                                                                                "nullable": true
                                                                                            },
                                                                                            "pictureUrl": {
                                                                                                "type": "string",
                                                                                                "nullable": true
                                                                                            }
                                                                                        },
                                                                                        "additionalProperties": false
                                                                                    },
                                                                                    "nullable": true
                                                                                },
                                                                                "pictureUrl": {
                                                                                    "type": "string",
                                                                                    "nullable": true
                                                                                }
                                                                            },
                                                                            "additionalProperties": false
                                                                        },
                                                                        "nullable": true
                                                                    }
                                                                },
                                                                "additionalProperties": false
                                                            },
                                                            "nullable": true
                                                        }
                                                    },
                                                    "additionalProperties": false,
                                                    "nullable": true
                                                }
                                            },
                                            "additionalProperties": false,
                                            "nullable": true
                                        },
                                        "createdAt": {
                                            "type": "number"
                                        },
                                        "plan": {
                                            "type": "object",
                                            "properties": {
                                                "name": {
                                                    "type": "string",
                                                    "maxLength": 100
                                                },
                                                "s3Storage": {
                                                    "type": "number"
                                                },
                                                "mongoStorage": {
                                                    "type": "number"
                                                },
                                                "parallelism": {
                                                    "type": "number"
                                                },
                                                "agents": {
                                                    "type": "number"
                                                },
                                                "scripts": {
                                                    "type": "number"
                                                },
                                                "dailyExecutionTime": {
                                                    "type": "number"
                                                },
                                                "dailyMails": {
                                                    "type": "number"
                                                },
                                                "dailyCaptchas": {
                                                    "type": "number"
                                                },
                                                "dailyDiscoveredMails": {
                                                    "type": "number"
                                                },
                                                "dailyAiCredits": {
                                                    "type": "number"
                                                },
                                                "monthlyExecutionTime": {
                                                    "type": "number",
                                                    "minimum": 0
                                                },
                                                "monthlyMails": {
                                                    "type": "number",
                                                    "minimum": 0
                                                },
                                                "monthlyCaptchas": {
                                                    "type": "number",
                                                    "minimum": 0
                                                },
                                                "monthlyDiscoveredMails": {
                                                    "type": "number",
                                                    "minimum": 0
                                                },
                                                "monthlyAiCredits": {
                                                    "type": "number",
                                                    "minimum": 0
                                                },
                                                "isAvailable": {
                                                    "type": "boolean"
                                                },
                                                "isUpgradable": {
                                                    "type": "boolean"
                                                },
                                                "duration": {
                                                    "type": "number"
                                                },
                                                "monthlyPrice": {
                                                    "type": "number"
                                                },
                                                "yearlyPrice": {
                                                    "type": "number"
                                                },
                                                "monthlyPrices": {
                                                    "type": "object",
                                                    "additionalProperties": {
                                                        "type": "number"
                                                    }
                                                },
                                                "yearlyPrices": {
                                                    "type": "object",
                                                    "additionalProperties": {
                                                        "type": "number"
                                                    }
                                                }
                                            },
                                            "additionalProperties": false,
                                            "required": [
                                                "name",
                                                "s3Storage",
                                                "mongoStorage",
                                                "parallelism",
                                                "agents",
                                                "scripts",
                                                "dailyExecutionTime",
                                                "dailyMails",
                                                "dailyCaptchas",
                                                "dailyDiscoveredMails",
                                                "dailyAiCredits",
                                                "isAvailable",
                                                "isUpgradable",
                                                "duration",
                                                "monthlyPrice",
                                                "yearlyPrice"
                                            ]
                                        },
                                        "displayName": {
                                            "type": "string"
                                        },
                                        "planShouldCancelAt": {
                                            "type": "number",
                                            "nullable": true
                                        },
                                        "owner": {
                                            "type": "object",
                                            "properties": {
                                                "userId": {
                                                    "type": "string"
                                                },
                                                "notifyUsage": {
                                                    "type": "boolean"
                                                },
                                                "role": {
                                                    "title": "Role",
                                                    "type": "string",
                                                    "enum": [
                                                        "owner",
                                                        "admin",
                                                        "member"
                                                    ]
                                                },
                                                "lastName": {
                                                    "type": "string"
                                                },
                                                "firstName": {
                                                    "type": "string"
                                                },
                                                "email": {
                                                    "type": "string"
                                                }
                                            },
                                            "additionalProperties": false,
                                            "required": [
                                                "userId",
                                                "notifyUsage",
                                                "role",
                                                "lastName",
                                                "firstName",
                                                "email"
                                            ]
                                        },
                                        "identityTokens": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "token": {
                                                        "type": "string"
                                                    },
                                                    "expire_at": {
                                                        "type": "number"
                                                    },
                                                    "magic_link": {
                                                        "type": "string"
                                                    }
                                                },
                                                "required": [
                                                    "token",
                                                    "expire_at"
                                                ],
                                                "additionalProperties": false
                                            }
                                        },
                                        "isV3": {
                                            "type": "boolean",
                                            "nullable": true
                                        }
                                    },
                                    "additionalProperties": false,
                                    "required": [
                                        "id",
                                        "name",
                                        "dailyExecutionTime",
                                        "dailyMail",
                                        "dailyCaptcha",
                                        "dailyDiscoveredMail",
                                        "dailyAiCredit",
                                        "s3Storage",
                                        "s3Folder",
                                        "planSlug",
                                        "planStartedAt",
                                        "createdAt",
                                        "plan",
                                        "displayName",
                                        "billingFirstName",
                                        "billingLastName"
                                    ]
                                }
                            }
                        }
                    }
                },
                "parameters": [
                    {
                        "in": "header",
                        "name": "X-Phantombuster-Org",
                        "description": "ID of the org that is perfoming the operation (not necessary when using a third party key)",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "in": "query",
                        "name": "withGlobalObject",
                        "description": "If set, the organization's globalObject will be returned in the response.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "in": "query",
                        "name": "withProxies",
                        "description": "If set, the organization's proxies will be returned in the response.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "in": "query",
                        "name": "withCrmIntegrations",
                        "description": "If set, the organization's CRM integrations will be returned in the response.",
                        "schema": {
                            "type": "string"
                        }
                    }
                ]
            }
        },
        "/orgs/fetch-resources": {
            "get": {
                "description": "Gets the current organization's resources and usage.",
                "tags": [
                    "orgs"
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "dailyExecutionTime": {
                                            "type": "number"
                                        },
                                        "dailyMail": {
                                            "type": "number"
                                        },
                                        "dailyCaptcha": {
                                            "type": "number"
                                        },
                                        "dailyDiscoveredMail": {
                                            "type": "number"
                                        },
                                        "dailyAiCredit": {
                                            "type": "number"
                                        },
                                        "monthlyExecutionTime": {
                                            "type": "number"
                                        },
                                        "monthlyMail": {
                                            "type": "number"
                                        },
                                        "monthlyCaptcha": {
                                            "type": "number"
                                        },
                                        "monthlyDiscoveredMail": {
                                            "type": "number"
                                        },
                                        "monthlyAiCredit": {
                                            "type": "number"
                                        },
                                        "s3Storage": {
                                            "type": "number"
                                        },
                                        "agentCount": {
                                            "type": "number"
                                        },
                                        "planName": {
                                            "type": "string"
                                        },
                                        "plan": {
                                            "type": "object",
                                            "properties": {
                                                "name": {
                                                    "type": "string",
                                                    "maxLength": 100
                                                },
                                                "s3Storage": {
                                                    "type": "number"
                                                },
                                                "mongoStorage": {
                                                    "type": "number"
                                                },
                                                "parallelism": {
                                                    "type": "number"
                                                },
                                                "agents": {
                                                    "type": "number"
                                                },
                                                "scripts": {
                                                    "type": "number"
                                                },
                                                "dailyExecutionTime": {
                                                    "type": "number"
                                                },
                                                "dailyMails": {
                                                    "type": "number"
                                                },
                                                "dailyCaptchas": {
                                                    "type": "number"
                                                },
                                                "dailyDiscoveredMails": {
                                                    "type": "number"
                                                },
                                                "dailyAiCredits": {
                                                    "type": "number"
                                                },
                                                "monthlyExecutionTime": {
                                                    "type": "number",
                                                    "minimum": 0
                                                },
                                                "monthlyMails": {
                                                    "type": "number",
                                                    "minimum": 0
                                                },
                                                "monthlyCaptchas": {
                                                    "type": "number",
                                                    "minimum": 0
                                                },
                                                "monthlyDiscoveredMails": {
                                                    "type": "number",
                                                    "minimum": 0
                                                },
                                                "monthlyAiCredits": {
                                                    "type": "number",
                                                    "minimum": 0
                                                },
                                                "isAvailable": {
                                                    "type": "boolean"
                                                },
                                                "isUpgradable": {
                                                    "type": "boolean"
                                                },
                                                "duration": {
                                                    "type": "number"
                                                },
                                                "monthlyPrice": {
                                                    "type": "number"
                                                },
                                                "yearlyPrice": {
                                                    "type": "number"
                                                },
                                                "monthlyPrices": {
                                                    "type": "object",
                                                    "additionalProperties": {
                                                        "type": "number"
                                                    }
                                                },
                                                "yearlyPrices": {
                                                    "type": "object",
                                                    "additionalProperties": {
                                                        "type": "number"
                                                    }
                                                }
                                            },
                                            "additionalProperties": false,
                                            "required": [
                                                "name",
                                                "s3Storage",
                                                "mongoStorage",
                                                "parallelism",
                                                "agents",
                                                "scripts",
                                                "dailyExecutionTime",
                                                "dailyMails",
                                                "dailyCaptchas",
                                                "dailyDiscoveredMails",
                                                "dailyAiCredits",
                                                "isAvailable",
                                                "isUpgradable",
                                                "duration",
                                                "monthlyPrice",
                                                "yearlyPrice"
                                            ]
                                        },
                                        "dailyResourceNextResetAt": {
                                            "type": "number"
                                        },
                                        "monthlyResourceNextResetAt": {
                                            "type": "number"
                                        },
                                        "planShouldCancelAt": {
                                            "type": "number",
                                            "nullable": true
                                        }
                                    },
                                    "additionalProperties": false,
                                    "required": [
                                        "dailyExecutionTime",
                                        "dailyMail",
                                        "dailyCaptcha",
                                        "dailyDiscoveredMail",
                                        "dailyAiCredit",
                                        "monthlyExecutionTime",
                                        "monthlyMail",
                                        "monthlyCaptcha",
                                        "monthlyDiscoveredMail",
                                        "monthlyAiCredit",
                                        "s3Storage",
                                        "agentCount",
                                        "planName",
                                        "plan",
                                        "dailyResourceNextResetAt",
                                        "monthlyResourceNextResetAt"
                                    ]
                                }
                            }
                        }
                    }
                },
                "parameters": [
                    {
                        "in": "header",
                        "name": "X-Phantombuster-Org",
                        "description": "ID of the org that is perfoming the operation (not necessary when using a third party key)",
                        "schema": {
                            "type": "string"
                        }
                    }
                ]
            }
        },
        "/orgs/fetch-running-containers": {
            "get": {
                "description": "Gets the current organization's running containers.",
                "tags": [
                    "orgs"
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "containers": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "id": {
                                                        "type": "string"
                                                    },
                                                    "agentId": {
                                                        "type": "string"
                                                    },
                                                    "agentName": {
                                                        "type": "string",
                                                        "maxLength": 100,
                                                        "nullable": true
                                                    },
                                                    "createdAt": {
                                                        "type": "number"
                                                    },
                                                    "retryNumber": {
                                                        "type": "number"
                                                    },
                                                    "launchType": {
                                                        "type": "string",
                                                        "enum": [
                                                            "manual",
                                                            "user api call",
                                                            "scheduled once",
                                                            "scheduled repeatedly",
                                                            "scheduled after agent",
                                                            "retry",
                                                            "scheduled before",
                                                            "browser extension api call"
                                                        ]
                                                    },
                                                    "scriptSlug": {
                                                        "type": "string",
                                                        "pattern": "^\\w([\\w\\. -]{0,48}\\w)?\\.(?:coffee|js)$"
                                                    }
                                                },
                                                "additionalProperties": false,
                                                "required": [
                                                    "id",
                                                    "agentId",
                                                    "createdAt",
                                                    "retryNumber",
                                                    "launchType",
                                                    "scriptSlug"
                                                ]
                                            }
                                        }
                                    },
                                    "additionalProperties": false,
                                    "required": [
                                        "containers"
                                    ]
                                }
                            }
                        }
                    }
                },
                "parameters": [
                    {
                        "in": "header",
                        "name": "X-Phantombuster-Org",
                        "description": "ID of the org that is perfoming the operation (not necessary when using a third party key)",
                        "schema": {
                            "type": "string"
                        }
                    }
                ]
            }
        },
        "/orgs/fetch-crm-access": {
            "get": {
                "description": "Get the organization's CRM access to be able to fetch CRM resources.",
                "tags": [
                    "orgs"
                ],
                "responses": {
                    "200": {
                        "description": "Organization's CRM access.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "crmName": {
                                            "type": "string",
                                            "enum": [
                                                "hubspot"
                                            ]
                                        },
                                        "crmAccountId": {
                                            "type": "string"
                                        },
                                        "accessToken": {
                                            "type": "string"
                                        },
                                        "contactUpdateOnly": {
                                            "type": "boolean"
                                        }
                                    },
                                    "additionalProperties": false,
                                    "required": [
                                        "crmName",
                                        "crmAccountId",
                                        "accessToken"
                                    ]
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Workspace not found or invalid hubspot token."
                    },
                    "412": {
                        "description": "Organization's CRM integration not found."
                    }
                },
                "parameters": [
                    {
                        "in": "header",
                        "name": "X-Phantombuster-Org",
                        "description": "ID of the org that is perfoming the operation (not necessary when using a third party key)",
                        "schema": {
                            "type": "string"
                        }
                    }
                ]
            }
        },
        "/orgs/fetch-crm-resources": {
            "get": {
                "description": "Gets the current organization's CRM requested resources.",
                "tags": [
                    "orgs"
                ],
                "responses": {
                    "200": {
                        "description": "Organization's CRM requested resources.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "title": "IOrgFetchCrmResourcesResponse",
                                    "oneOf": [
                                        {
                                            "type": "object",
                                            "properties": {
                                                "resourceType": {
                                                    "type": "string",
                                                    "enum": [
                                                        "account_info"
                                                    ]
                                                },
                                                "data": {
                                                    "type": "object",
                                                    "properties": {
                                                        "crmName": {
                                                            "type": "string"
                                                        },
                                                        "id": {
                                                            "type": "string"
                                                        },
                                                        "email": {
                                                            "type": "string"
                                                        },
                                                        "name": {
                                                            "type": "string"
                                                        },
                                                        "isConnected": {
                                                            "type": "boolean"
                                                        },
                                                        "contactUpdateOnly": {
                                                            "type": "boolean"
                                                        }
                                                    },
                                                    "additionalProperties": false,
                                                    "required": [
                                                        "crmName",
                                                        "id",
                                                        "email",
                                                        "name",
                                                        "isConnected"
                                                    ]
                                                }
                                            },
                                            "additionalProperties": false,
                                            "required": [
                                                "resourceType",
                                                "data"
                                            ]
                                        },
                                        {
                                            "type": "object",
                                            "properties": {
                                                "resourceType": {
                                                    "type": "string",
                                                    "enum": [
                                                        "disconnected_account"
                                                    ]
                                                },
                                                "data": {
                                                    "type": "object",
                                                    "properties": {
                                                        "crmName": {
                                                            "type": "string"
                                                        },
                                                        "id": {
                                                            "type": "string"
                                                        },
                                                        "isConnected": {
                                                            "type": "boolean"
                                                        }
                                                    },
                                                    "additionalProperties": false,
                                                    "required": [
                                                        "crmName",
                                                        "id",
                                                        "isConnected"
                                                    ]
                                                }
                                            },
                                            "additionalProperties": false,
                                            "required": [
                                                "resourceType",
                                                "data"
                                            ]
                                        },
                                        {
                                            "type": "object",
                                            "properties": {
                                                "resourceType": {
                                                    "type": "string",
                                                    "enum": [
                                                        "contact_lists"
                                                    ]
                                                },
                                                "data": {
                                                    "type": "object",
                                                    "properties": {
                                                        "lists": {
                                                            "type": "array",
                                                            "items": {
                                                                "type": "object",
                                                                "properties": {
                                                                    "id": {
                                                                        "type": "string"
                                                                    },
                                                                    "label": {
                                                                        "type": "string"
                                                                    },
                                                                    "size": {
                                                                        "type": "string",
                                                                        "description": "The size of the list. Null if size is not available.",
                                                                        "nullable": true
                                                                    }
                                                                },
                                                                "additionalProperties": false,
                                                                "required": [
                                                                    "id",
                                                                    "label",
                                                                    "size"
                                                                ]
                                                            }
                                                        }
                                                    },
                                                    "additionalProperties": false,
                                                    "required": [
                                                        "lists"
                                                    ]
                                                }
                                            },
                                            "additionalProperties": false,
                                            "required": [
                                                "resourceType",
                                                "data"
                                            ]
                                        },
                                        {
                                            "type": "object",
                                            "properties": {
                                                "resourceType": {
                                                    "type": "string",
                                                    "enum": [
                                                        "contact_properties"
                                                    ]
                                                },
                                                "data": {
                                                    "type": "object",
                                                    "properties": {
                                                        "properties": {
                                                            "type": "array",
                                                            "items": {
                                                                "type": "object",
                                                                "properties": {
                                                                    "id": {
                                                                        "type": "string"
                                                                    },
                                                                    "label": {
                                                                        "type": "string"
                                                                    },
                                                                    "isDefaultProperty": {
                                                                        "type": "boolean"
                                                                    },
                                                                    "isReadOnly": {
                                                                        "type": "boolean"
                                                                    },
                                                                    "type": {
                                                                        "type": "string",
                                                                        "enum": [
                                                                            "string",
                                                                            "number",
                                                                            "date",
                                                                            "boolean",
                                                                            "enum",
                                                                            "phonenumber",
                                                                            "unknown"
                                                                        ]
                                                                    },
                                                                    "isHidden": {
                                                                        "type": "boolean"
                                                                    }
                                                                },
                                                                "additionalProperties": false,
                                                                "required": [
                                                                    "id",
                                                                    "label",
                                                                    "isDefaultProperty",
                                                                    "isReadOnly",
                                                                    "type",
                                                                    "isHidden"
                                                                ]
                                                            }
                                                        }
                                                    },
                                                    "additionalProperties": false,
                                                    "required": [
                                                        "properties"
                                                    ]
                                                }
                                            },
                                            "additionalProperties": false,
                                            "required": [
                                                "resourceType",
                                                "data"
                                            ]
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Workspace not found."
                    },
                    "412": {
                        "description": "Organization's CRM integration not found."
                    }
                },
                "parameters": [
                    {
                        "in": "header",
                        "name": "X-Phantombuster-Org",
                        "description": "ID of the org that is perfoming the operation (not necessary when using a third party key)",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "in": "query",
                        "required": true,
                        "name": "resourceType",
                        "description": "Type of the resource to fetch from the organization's CRM.",
                        "schema": {
                            "type": "string",
                            "enum": [
                                "account_info",
                                "contact_lists",
                                "contact_properties"
                            ]
                        }
                    }
                ]
            }
        },
        "/containers/fetch-all": {
            "get": {
                "description": "Gets all containers associated to a specified agent.",
                "tags": [
                    "containers"
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "maxLimitReached": {
                                            "type": "boolean"
                                        },
                                        "containers": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "id": {
                                                        "type": "string"
                                                    },
                                                    "status": {
                                                        "type": "string",
                                                        "enum": [
                                                            "starting",
                                                            "running",
                                                            "finished",
                                                            "unknown",
                                                            "launch error"
                                                        ]
                                                    },
                                                    "createdAt": {
                                                        "type": "number"
                                                    },
                                                    "launchType": {
                                                        "type": "string",
                                                        "enum": [
                                                            "manual",
                                                            "user api call",
                                                            "scheduled once",
                                                            "scheduled repeatedly",
                                                            "scheduled after agent",
                                                            "retry",
                                                            "scheduled before",
                                                            "browser extension api call"
                                                        ]
                                                    },
                                                    "endType": {
                                                        "type": "string",
                                                        "enum": [
                                                            "finished",
                                                            "killed",
                                                            "global timeout",
                                                            "org timeout",
                                                            "agent timeout",
                                                            "unknown",
                                                            "no log timeout"
                                                        ]
                                                    },
                                                    "endedAt": {
                                                        "type": "number"
                                                    },
                                                    "exitCode": {
                                                        "type": "number",
                                                        "nullable": true
                                                    },
                                                    "retryNumber": {
                                                        "type": "number"
                                                    },
                                                    "runtimeEvents": {
                                                        "type": "array",
[...]
