{
    "openapi": "3.0.0",
    "servers": [
        {
            "description": "Phantombuster api",
            "url": "https://api.phantombuster.com/api/v2"
        },
        {
            "description": "SwaggerHub API Auto Mocking",
            "url": "https://virtserver.swaggerhub.com/Phantombuster/Phantombuster-v2/2.0.0"
        }
    ],
    "info": {
        "description": "Phantombuster API v2. Swagger api specification is located at https://github.com/phantombuster/public-gists/blob/master/swagger-api-v2.json",
        "version": "2.0.0",
        "title": "Phantombuster API v2",
        "contact": {
            "email": "contact@phantombuster.com"
        },
        "license": {
            "name": "ISC",
            "url": "https://opensource.org/licenses/ISC"
        }
    },
    "components": {
        "securitySchemes": {
            "apiKeyAuth": {
                "type": "apiKey",
                "in": "header",
                "name": "X-Phantombuster-Key"
            }
        },
        "parameters": {
            "orgId": {
                "in": "header",
                "name": "X-Phantombuster-Org",
                "description": "ID of the org that is perfoming the operation (not necessary when using a third party key)",
                "schema": {
                    "type": "string"
                }
            }
        }
    },
    "security": [
        {
            "apiKeyAuth": []
        }
    ],
    "tags": [
        {
            "name": "sessions"
        },
        {
            "name": "branches"
        },
        {
            "name": "scripts"
        },
        {
            "name": "users"
        },
        {
            "name": "orgs-users"
        },
        {
            "name": "orgs"
        },
        {
            "name": "events"
        },
        {
            "name": "containers"
        },
        {
            "name": "agents"
        },
        {
            "name": "admin"
        },
        {
            "name": "org-storage"
        }
    ],
    "paths": {
        "/orgs/export-agent-usage": {
            "get": {
                "description": "Gets a csv file containing agent usage info of the current user's organization.",
                "tags": [
                    "orgs"
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                },
                "parameters": [
                    {
                        "in": "header",
                        "name": "X-Phantombuster-Org",
                        "description": "ID of the org that is perfoming the operation (not necessary when using a third party key)",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "in": "query",
                        "name": "days",
                        "required": true,
                        "description": "How many days of data to export. The number of days should not exceed 6 months.",
                        "schema": {
                            "type": "string",
                            "description": "How many days of data to export. The number of days should not exceed 6 months."
                        }
                    }
                ]
            }
        },
        "/orgs/export-container-usage": {
            "get": {
                "description": "Gets a csv file containing container usage info of the current user's organization.",
                "tags": [
                    "orgs"
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                },
                "parameters": [
                    {
                        "in": "header",
                        "name": "X-Phantombuster-Org",
                        "description": "ID of the org that is perfoming the operation (not necessary when using a third party key)",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "in": "query",
                        "name": "days",
                        "required": true,
                        "description": "How many days of data to export. The number of days should not exceed 6 months.",
                        "schema": {
                            "type": "string",
                            "description": "How many days of data to export. The number of days should not exceed 6 months."
                        }
                    },
                    {
                        "in": "query",
                        "name": "agentId",
                        "description": "If set, the data will only be exported for this agent.",
                        "schema": {
                            "type": "string",
                            "description": "How many days of data to export. The number of days should not exceed 6 months."
                        }
                    }
                ]
            }
        },
        "/orgs/fetch-agent-groups": {
            "get": {
                "description": "Gets the agent groups and order of the current user's organization.",
                "tags": [
                    "orgs"
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "anyOf": [
                                            {
                                                "type": "string"
                                            },
                                            {
                                                "type": "object",
                                                "title": "IAgentGroup",
                                                "properties": {
                                                    "id": {
                                                        "type": "string"
                                                    },
                                                    "name": {
                                                        "type": "string",
                                                        "maxLength": 100
                                                    },
                                                    "agents": {
                                                        "type": "array",
                                                        "items": {
                                                            "type": "string"
                                                        }
                                                    }
                                                },
                                                "additionalProperties": false,
                                                "required": [
                                                    "name",
                                                    "agents",
                                                    "id"
                                                ]
                                            }
                                        ]
                                    }
                                }
                            }
                        }
                    }
                },
                "parameters": [
                    {
                        "in": "header",
                        "name": "X-Phantombuster-Org",
                        "description": "ID of the org that is perfoming the operation (not necessary when using a third party key)",
                        "schema": {
                            "type": "string"
                        }
                    }
                ]
            }
        },
        "/orgs/save-agent-groups": {
            "post": {
                "description": "Updates the agent groups and order of the current user's organization.",
                "tags": [
                    "orgs"
                ],
                "responses": {
                    "200": {
                        "description": "Groups successfully updated.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "agentGroups": {
                                            "type": "array",
                                            "items": {
                                                "anyOf": [
                                                    {
                                                        "type": "string"
                                                    },
                                                    {
                                                        "type": "object",
                                                        "title": "IAgentGroup",
                                                        "properties": {
                                                            "id": {
                                                                "type": "string"
                                                            },
                                                            "name": {
                                                                "type": "string",
                                                                "maxLength": 100
                                                            },
                                                            "agents": {
                                                                "type": "array",
                                                                "items": {
                                                                    "type": "string"
                                                                }
                                                            }
                                                        },
                                                        "additionalProperties": false,
                                                        "required": [
                                                            "name",
                                                            "agents",
                                                            "id"
                                                        ]
                                                    }
                                                ]
                                            }
                                        }
                                    },
                                    "additionalProperties": false,
                                    "required": [
                                        "agentGroups"
                                    ]
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid agent ids provided."
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "agentGroups": {
                                        "description": "New agent groups. Order of the groups and agents will be kept.",
                                        "type": "array",
                                        "items": {
                                            "anyOf": [
                                                {
                                                    "type": "string"
                                                },
                                                {
                                                    "type": "object",
                                                    "title": "IAgentGroup",
                                                    "properties": {
                                                        "id": {
                                                            "type": "string"
                                                        },
                                                        "name": {
                                                            "type": "string",
                                                            "maxLength": 100
                                                        },
                                                        "agents": {
                                                            "type": "array",
                                                            "items": {
                                                                "type": "string"
                                                            }
                                                        }
                                                    },
                                                    "additionalProperties": false,
                                                    "required": [
                                                        "name",
                                                        "agents",
                                                        "id"
                                                    ]
                                                }
                                            ]
                                        }
                                    }
                                },
                                "additionalProperties": false,
                                "required": [
                                    "agentGroups"
                                ]
                            }
                        }
                    }
                },
                "parameters": [
                    {
                        "in": "header",
                        "name": "X-Phantombuster-Org",
                        "description": "ID of the org that is perfoming the operation (not necessary when using a third party key)",
                        "schema": {
                            "type": "string"
                        }
                    }
                ]
            }
        },
        "/orgs/fetch": {
            "get": {
                "description": "Gets the current organization.",
                "tags": [
                    "orgs"
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "id": {
                                            "type": "string"
                                        },
                                        "name": {
                                            "type": "string",
                                            "pattern": "^[a-z][a-z0-9-_]{1,48}[a-z0-9_]$"
                                        },
                                        "dailyExecutionTime": {
                                            "type": "number"
                                        },
                                        "dailyMail": {
                                            "type": "number"
                                        },
                                        "dailyCaptcha": {
                                            "type": "number"
                                        },
                                        "dailyDiscoveredMail": {
                                            "type": "number"
                                        },
                                        "dailyAiCredit": {
                                            "type": "number"
                                        },
                                        "s3Storage": {
                                            "type": "number"
                                        },
                                        "s3Folder": {
                                            "type": "string"
                                        },
                                        "planSlug": {
                                            "type": "string"
                                        },
                                        "planStartedAt": {
                                            "type": "number"
                                        },
                                        "timezone": {
                                            "type": "string"
                                        },
                                        "company": {
                                            "type": "string",
                                            "nullable": true
                                        },
                                        "billingAddress": {
                                            "title": "IAddress",
                                            "type": "object",
                                            "properties": {
                                                "street": {
                                                    "type": "string",
                                                    "maxLength": 1000
                                                },
                                                "city": {
                                                    "type": "string",
                                                    "maxLength": 100
                                                },
                                                "zip": {
                                                    "type": "string",
                                                    "maxLength": 100
                                                },
                                                "countryCode": {
                                                    "type": "string",
                                                    "maxLength": 100
                                                }
                                            },
                                            "additionalProperties": false,
                                            "required": [
                                                "street",
                                                "city",
                                                "zip",
                                                "countryCode"
                                            ],
                                            "nullable": true
                                        },
                                        "billingMail": {
                                            "type": "string",
                                            "nullable": true
                                        },
                                        "billingFirstName": {
                                            "type": "string",
                                            "nullable": true
                                        },
                                        "billingLastName": {
                                            "type": "string",
                                            "nullable": true
                                        },
                                        "vatId": {
                                            "type": "string",
                                            "maxLength": 100,
                                            "nullable": true
                                        },
                                        "additionalInvoiceInformation": {
                                            "type": "string",
                                            "maxLength": 100,
                                            "nullable": true
                                        },
                                        "globalObject": {
                                            "type": "string",
                                            "nullable": true
                                        },
                                        "proxies": {
                                            "anyOf": [
                                                {
                                                    "title": "IProxyPoolList",
                                                    "type": "object",
                                                    "x-patternProperties": {
                                                        "^\\d+$": {
                                                            "title": "IProxyPool",
                                                            "type": "object",
                                                            "properties": {
                                                                "name": {
                                                                    "type": "string",
                                                                    "maxLength": 100
                                                                },
                                                                "test": {
                                                                    "type": "boolean"
                                                                },
                                                                "proxies": {
                                                                    "type": "array",
                                                                    "maxItems": 1000,
                                                                    "items": {
                                                                        "type": "object",
                                                                        "properties": {
                                                                            "type": {
                                                                                "type": "string",
                                                                                "enum": [
                                                                                    "http"
                                                                                ]
                                                                            },
                                                                            "address": {
                                                                                "type": "string",
                                                                                "maxLength": 100
                                                                            },
                                                                            "username": {
                                                                                "type": "string",
                                                                                "maxLength": 100,
                                                                                "nullable": true
                                                                            },
                                                                            "password": {
                                                                                "type": "string",
                                                                                "maxLength": 100,
                                                                                "nullable": true
                                                                            },
                                                                            "lastTestDate": {
                                                                                "type": "number",
                                                                                "nullable": true
                                                                            },
                                                                            "lastTestResult": {
                                                                                "type": "string",
                                                                                "nullable": true
                                                                            },
                                                                            "lastTestDescription": {
                                                                                "type": "string",
                                                                                "nullable": true
                                                                            }
                                                                        },
                                                                        "additionalProperties": false,
                                                                        "required": [
                                                                            "type",
                                                                            "address"
                                                                        ]
                                                                    }
                                                                }
                                                            },
                                                            "additionalProperties": false,
                                                            "required": [
                                                                "name",
                                                                "proxies"
                                                            ]
                                                        }
                                                    },
                                                    "additionalProperties": true
                                                }
                                            ],
                                            "nullable": true
                                        },
                                        "createdAt": {
                                            "type": "number"
                                        },
                                        "plan": {
                                            "type": "object",
                                            "properties": {
                                                "name": {
                                                    "type": "string",
                                                    "maxLength": 100
                                                },
                                                "s3Storage": {
                                                    "type": "number"
                                                },
                                                "mongoStorage": {
                                                    "type": "number"
                                                },
                                                "parallelism": {
                                                    "type": "number"
                                                },
                                                "agents": {
                                                    "type": "number"
                                                },
                                                "scripts": {
                                                    "type": "number"
                                                },
                                                "dailyExecutionTime": {
                                                    "type": "number"
                                                },
                                                "dailyMails": {
                                                    "type": "number"
                                                },
                                                "dailyCaptchas": {
                                                    "type": "number"
                                                },
                                                "dailyDiscoveredMails": {
                                                    "type": "number"
                                                },
                                                "dailyAiCredits": {
                                                    "type": "number"
                                                },
                                                "monthlyExecutionTime": {
                                                    "type": "number",
                                                    "minimum": 0
                                                },
                                                "monthlyMails": {
                                                    "type": "number",
                                                    "minimum": 0
                                                },
                                                "monthlyCaptchas": {
                                                    "type": "number",
                                                    "minimum": 0
                                                },
                                                "monthlyDiscoveredMails": {
                                                    "type": "number",
                                                    "minimum": 0
                                                },
                                                "monthlyAiCredits": {
                                                    "type": "number",
                                                    "minimum": 0
                                                },
                                                "isAvailable": {
                                                    "type": "boolean"
                                                },
                                                "isUpgradable": {
                                                    "type": "boolean"
                                                },
                                                "duration": {
                                                    "type": "number"
                                                },
                                                "monthlyPrice": {
                                                    "type": "number"
                                                },
                                                "yearlyPrice": {
                                                    "type": "number"
                                                },
                                                "monthlyPrices": {
                                                    "type": "object",
                                                    "additionalProperties": {
                                                        "type": "number"
                                                    }
                                                },
                                                "yearlyPrices": {
                                                    "type": "object",
                                                    "additionalProperties": {
                                                        "type": "number"
                                                    }
                                                }
                                            },
                                            "additionalProperties": false,
                                            "required": [
                                                "name",
                                                "s3Storage",
                                                "mongoStorage",
                                                "parallelism",
                                                "agents",
                                                "scripts",
                                                "dailyExecutionTime",
                                                "dailyMails",
                                                "dailyCaptchas",
                                                "dailyDiscoveredMails",
                                                "dailyAiCredits",
                                                "isAvailable",
                                                "isUpgradable",
                                                "duration",
                                                "monthlyPrice",
                                                "yearlyPrice"
                                            ]
                                        },
                                        "displayName": {
                                            "type": "string"
                                        },
                                        "planShouldCancelAt": {
                                            "type": "number",
                                            "nullable": true
                                        }
                                    },
                                    "additionalProperties": false,
                                    "required": [
                                        "id",
                                        "name",
                                        "dailyExecutionTime",
                                        "dailyMail",
                                        "dailyCaptcha",
                                        "dailyDiscoveredMail",
                                        "dailyAiCredit",
                                        "s3Storage",
                                        "s3Folder",
                                        "planSlug",
                                        "planStartedAt",
                                        "createdAt",
                                        "plan",
                                        "displayName",
                                        "billingFirstName",
                                        "billingLastName"
                                    ]
                                }
                            }
                        }
                    }
                },
                "parameters": [
                    {
                        "in": "header",
                        "name": "X-Phantombuster-Org",
                        "description": "ID of the org that is perfoming the operation (not necessary when using a third party key)",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "in": "query",
                        "name": "withGlobalObject",
                        "description": "If set, the organization's globalObject will be returned in the response.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "in": "query",
                        "name": "withProxies",
                        "description": "If set, the organization's proxies will be returned in the response.",
                        "schema": {
                            "type": "string"
                        }
                    }
                ]
            }
        },
        "/orgs/fetch-resources": {
            "get": {
                "description": "Gets the current organization's resources and usage.",
                "tags": [
                    "orgs"
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "dailyExecutionTime": {
                                            "type": "number"
                                        },
                                        "dailyMail": {
                                            "type": "number"
                                        },
                                        "dailyCaptcha": {
                                            "type": "number"
                                        },
                                        "dailyDiscoveredMail": {
                                            "type": "number"
                                        },
                                        "dailyAiCredit": {
                                            "type": "number"
                                        },
                                        "monthlyExecutionTime": {
                                            "type": "number"
                                        },
                                        "monthlyMail": {
                                            "type": "number"
                                        },
                                        "monthlyCaptcha": {
                                            "type": "number"
                                        },
                                        "monthlyDiscoveredMail": {
                                            "type": "number"
                                        },
                                        "monthlyAiCredit": {
                                            "type": "number"
                                        },
                                        "s3Storage": {
                                            "type": "number"
                                        },
                                        "agentCount": {
                                            "type": "number"
                                        },
                                        "planName": {
                                            "type": "string"
                                        },
                                        "plan": {
                                            "type": "object",
                                            "properties": {
                                                "name": {
                                                    "type": "string",
                                                    "maxLength": 100
                                                },
                                                "s3Storage": {
                                                    "type": "number"
                                                },
                                                "mongoStorage": {
                                                    "type": "number"
                                                },
                                                "parallelism": {
                                                    "type": "number"
                                                },
                                                "agents": {
                                                    "type": "number"
                                                },
                                                "scripts": {
                                                    "type": "number"
                                                },
                                                "dailyExecutionTime": {
                                                    "type": "number"
                                                },
                                                "dailyMails": {
                                                    "type": "number"
                                                },
                                                "dailyCaptchas": {
                                                    "type": "number"
                                                },
                                                "dailyDiscoveredMails": {
                                                    "type": "number"
                                                },
                                                "dailyAiCredits": {
                                                    "type": "number"
                                                },
                                                "monthlyExecutionTime": {
                                                    "type": "number",
                                                    "minimum": 0
                                                },
                                                "monthlyMails": {
                                                    "type": "number",
                                                    "minimum": 0
                                                },
                                                "monthlyCaptchas": {
                                                    "type": "number",
                                                    "minimum": 0
                                                },
                                                "monthlyDiscoveredMails": {
                                                    "type": "number",
                                                    "minimum": 0
                                                },
                                                "monthlyAiCredits": {
                                                    "type": "number",
                                                    "minimum": 0
                                                },
                                                "isAvailable": {
                                                    "type": "boolean"
                                                },
                                                "isUpgradable": {
                                                    "type": "boolean"
                                                },
                                                "duration": {
                                                    "type": "number"
                                                },
                                                "monthlyPrice": {
                                                    "type": "number"
                                                },
                                                "yearlyPrice": {
                                                    "type": "number"
                                                },
                                                "monthlyPrices": {
                                                    "type": "object",
                                                    "additionalProperties": {
                                                        "type": "number"
                                                    }
                                                },
                                                "yearlyPrices": {
                                                    "type": "object",
                                                    "additionalProperties": {
                                                        "type": "number"
                                                    }
                                                }
                                            },
                                            "additionalProperties": false,
                                            "required": [
                                                "name",
                                                "s3Storage",
                                                "mongoStorage",
                                                "parallelism",
                                                "agents",
                                                "scripts",
                                                "dailyExecutionTime",
                                                "dailyMails",
                                                "dailyCaptchas",
                                                "dailyDiscoveredMails",
                                                "dailyAiCredits",
                                                "isAvailable",
                                                "isUpgradable",
                                                "duration",
                                                "monthlyPrice",
                                                "yearlyPrice"
                                            ]
                                        },
                                        "dailyResourceNextResetAt": {
                                            "type": "number"
                                        },
                                        "monthlyResourceNextResetAt": {
                                            "type": "number"
                                        },
                                        "planShouldCancelAt": {
                                            "type": "number",
                                            "nullable": true
                                        }
                                    },
                                    "additionalProperties": false,
                                    "required": [
                                        "dailyExecutionTime",
                                        "dailyMail",
                                        "dailyCaptcha",
                                        "dailyDiscoveredMail",
                                        "dailyAiCredit",
                                        "monthlyExecutionTime",
                                        "monthlyMail",
                                        "monthlyCaptcha",
                                        "monthlyDiscoveredMail",
                                        "monthlyAiCredit",
                                        "s3Storage",
                                        "agentCount",
                                        "planName",
                                        "plan",
                                        "dailyResourceNextResetAt",
                                        "monthlyResourceNextResetAt"
                                    ]
                                }
                            }
                        }
                    }
                },
                "parameters": [
                    {
                        "in": "header",
                        "name": "X-Phantombuster-Org",
                        "description": "ID of the org that is perfoming the operation (not necessary when using a third party key)",
                        "schema": {
                            "type": "string"
                        }
                    }
                ]
            }
        },
        "/orgs/fetch-running-containers": {
            "get": {
                "description": "Gets the current organization's running containers.",
                "tags": [
                    "orgs"
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "containers": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "id": {
                                                        "type": "string"
                                                    },
                                                    "agentId": {
                                                        "type": "string"
                                                    },
                                                    "agentName": {
                                                        "type": "string",
                                                        "maxLength": 100,
                                                        "nullable": true
                                                    },
                                                    "createdAt": {
                                                        "type": "number"
                                                    },
                                                    "retryNumber": {
                                                        "type": "number"
                                                    },
                                                    "launchType": {
                                                        "type": "string",
                                                        "enum": [
                                                            "manual",
                                                            "user api call",
                                                            "scheduled once",
                                                            "scheduled repeatedly",
                                                            "scheduled after agent",
                                                            "retry",
                                                            "scheduled before"
                                                        ]
                                                    },
                                                    "scriptSlug": {
                                                        "type": "string",
                                                        "pattern": "^\\w([\\w\\. -]{0,48}\\w)?\\.(?:coffee|js)$"
                                                    }
                                                },
                                                "additionalProperties": false,
                                                "required": [
                                                    "id",
                                                    "agentId",
                                                    "createdAt",
                                                    "retryNumber",
                                                    "launchType",
                                                    "scriptSlug"
                                                ]
                                            }
                                        }
                                    },
                                    "additionalProperties": false,
                                    "required": [
                                        "containers"
                                    ]
                                }
                            }
                        }
                    }
                },
                "parameters": [
                    {
                        "in": "header",
                        "name": "X-Phantombuster-Org",
                        "description": "ID of the org that is perfoming the operation (not necessary when using a third party key)",
                        "schema": {
                            "type": "string"
                        }
                    }
                ]
            }
        },
        "/containers/fetch-all": {
            "get": {
                "description": "Gets all containers associated to a specified agent.",
                "tags": [
                    "containers"
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "maxLimitReached": {
                                            "type": "boolean"
                                        },
                                        "containers": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "id": {
                                                        "type": "string"
                                                    },
                                                    "status": {
                                                        "type": "string",
                                                        "enum": [
                                                            "starting",
                                                            "running",
                                                            "finished",
                                                            "unknown",
                                                            "launch error"
                                                        ]
                                                    },
                                                    "createdAt": {
                                                        "type": "number"
                                                    },
                                                    "launchType": {
                                                        "type": "string",
                                                        "enum": [
                                                            "manual",
                                                            "user api call",
                                                            "scheduled once",
                                                            "scheduled repeatedly",
                                                            "scheduled after agent",
                                                            "retry",
                                                            "scheduled before"
                                                        ]
                                                    },
                                                    "endType": {
                                                        "type": "string",
                                                        "enum": [
                                                            "finished",
                                                            "killed",
                                                            "global timeout",
                                                            "org timeout",
                                                            "agent timeout",
                                                            "unknown",
                                                            "no log timeout"
                                                        ]
                                                    },
                                                    "endedAt": {
                                                        "type": "number"
                                                    },
                                                    "exitCode": {
                                                        "type": "number",
                                                        "nullable": true
                                                    },
                                                    "retryNumber": {
                                                        "type": "number"
                                                    },
                                                    "runtimeEvents": {
                                                        "type": "array",
                                                        "items": {
                                                            "type": "object",
                                                            "additionalProperties": false,
                                                            "required": [
                                                                "slug"
                                                            ],
                                                            "properties": {
                                                                "timestamp": {
                                                                    "type": "number"
                                                                },
                                                                "slug": {
                                                                    "type": "string",
                                                                    "maxLength": 100,
                                                                    "pattern": "^[a-zA-Z0-9-_]+$"
                                                                },
                                                                "icon": {
                                                                    "type": "string",
                                                                    "maxLength": 100
                                                                },
                                                                "type": {
                                                                    "type": "string",
                                                                    "maxLength": 100
                                                                },
                                                                "category": {
                                                                    "type": "string",
                                                                    "maxLength": 100
                                                                },
                                                                "title": {
                                                                    "type": "string",
                                                                    "maxLength": 500
                                                                },
                                                                "text": {
                                                                    "type": "string",
                                                                    "maxLength": 500
                                                                },
                                                                "primaryValue": {
                                                                    "anyOf": [
                                                                        {
                                                                            "type": "number"
                                                                        },
                                                                        {
                                                                            "type": "string",
                                                                            "maxLength": 100
                                                                        },
                                                                        {
                                                                            "type": "boolean"
                                                                        }
                                                                    ]
                                                                },
                                                                "secondaryValue": {
                                                                    "anyOf": [
                                                                        {
                                                                            "type": "number"
                                                                        },
                                                                        {
                                                                            "type": "string",
                                                                            "maxLength": 100
                                                                        },
                                                                        {
                                                                            "type": "boolean"
                                                                        }
                                                                    ]
                                                                },
                                                                "props": {
                                                                    "type": "object"
                                                                },
                                                                "setupLink": {
                                                                    "type": "string",
                                                                    "maxLength": 100,
                                                                    "pattern": "^(phase|step|field|advancedSettings):([\\w-])+$"
                                                                }
                                                            }
                                                        }
                                                    }
                                                },
                                                "additionalProperties": false,
                                                "required": [
                                                    "id",
                                                    "status",
                                                    "createdAt",
                                                    "launchType",
                                                    "retryNumber"
                                                ]
                                            }
                                        }
                                    },
                                    "additionalProperties": false,
                                    "required": [
                                        "maxLimitReached",
                                        "containers"
                                    ]
                                }
                            }
                        }
                    }
                },
                "parameters": [
                    {
                        "in": "header",
                        "name": "X-Phantombuster-Org",
                        "description": "ID of the org that is perfoming the operation (not necessary when using a third party key)",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "in": "query",
                        "required": true,
                        "name": "agentId",
                        "description": "Id of the agent to fetch containers from.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "in": "query",
                        "name": "beforeEndedAt",
                        "description": "If set, the endpoint will return containers which ended before the specified date.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "in": "query",
                        "name": "limit",
                        "description": "If set, the endpoint will only return the specified amount of containers.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "in": "query",
                        "name": "mode",
                        "description": "If set to \"all\", all containers will be returned. If set to \"finalized\", only finalized containers will be returned.",
                        "schema": {
                            "type": "string",
                            "enum": [
                                "all",
                                "finalized"
                            ]
                        }
                    },
                    {
                        "in": "query",
                        "name": "withRuntimeEvents",
                        "description": "If set, the endpoint will return the containers' runtime events in the response.",
                        "schema": {
                            "type": "string"
                        }
                    }
                ]
            }
        },
        "/containers/fetch-result-object": {
            "get": {
                "description": "Gets the result object associated with a container.",
                "tags": [
                    "containers"
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "resultObject": {
                                            "type": "string",
                                            "nullable": true
                                        }
                                    },
                                    "additionalProperties": false
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "No container exists with the provided id."
                    }
                },
                "parameters": [
                    {
                        "in": "header",
                        "name": "X-Phantombuster-Org",
                        "description": "ID of the org that is perfoming the operation (not necessary when using a third party key)",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "in": "query",
                        "required": true,
                        "name": "id",
                        "description": "Id of the container to fetch result object from.",
                        "schema": {
                            "type": "string"
                        }
                    }
                ]
            }
        },
        "/containers/fetch-output": {
            "get": {
                "description": "Gets the output of a container.",
                "tags": [
                    "containers"
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "output": {
                                            "type": "string",
                                            "nullable": true
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "204": {
                        "description": "Container output is empty."
                    },
                    "404": {
                        "description": "No container exists with the provided id."
                    }
                },
                "parameters": [
                    {
                        "in": "header",
                        "name": "X-Phantombuster-Org",
                        "description": "ID of the org that is perfoming the operation (not necessary when using a third party key)",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "in": "query",
                        "required": true,
                        "name": "id",
                        "description": "Id of the container to fetch output from.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "in": "query",
                        "name": "mode",
                        "description": "If set to \"raw\", the output will be returned as plain text. If omitted or set to \"json\", the output will be returned as json.",
                        "schema": {
                            "type": "string",
                            "enum": [
                                "json",
                                "raw"
                            ]
                        }
                    }
                ]
            }
        },
        "/containers/fetch": {
            "get": {
                "description": "Gets a container by id.",
                "tags": [
                    "containers"
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "id": {
                                            "type": "string"
                                        },
                                        "status": {
                                            "type": "string",
                                            "enum": [
                                                "starting",
                                                "running",
                                                "finished",
                                                "unknown",
                                                "launch error"
                                            ]
                                        },
                                        "createdAt": {
                                            "type": "number"
                                        },
                                        "launchType": {
                                            "type": "string",
                                            "enum": [
                                                "manual",
                                                "user api call",
                                                "scheduled once",
                                                "scheduled repeatedly",
                                                "scheduled after agent",
                                                "retry",
                                                "scheduled before"
                                            ]
                                        },
                                        "endType": {
                                            "type": "string",
                                            "enum": [
                                                "finished",
                                                "killed",
                                                "global timeout",
                                                "org timeout",
                                                "agent timeout",
                                                "unknown",
                                                "no log timeout"
                                            ]
                                        },
                                        "endedAt": {
                                            "type": "number"
                                        },
                                        "launchedAt": {
                                            "type": "number",
                                            "nullable": true
                                        },
                                        "exitCode": {
                                            "type": "number",
                                            "nullable": true
                                        },
                                        "retryNumber": {
                                            "type": "number"
                                        },
                                        "output": {
                                            "type": "string",
                                            "nullable": true
                                        },
                                        "resultObject": {
                                            "type": "string",
                                            "nullable": true
                                        },
                                        "runtimeEvents": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "additionalProperties": false,
                                                "required": [
                                                    "slug"
                                                ],
                                                "properties": {
                                                    "timestamp": {
                                                        "type": "number"
                                                    },
                                                    "slug": {
                                                        "type": "string",
                                                        "maxLength": 100,
                                                        "pattern": "^[a-zA-Z0-9-_]+$"
                                                    },
                                                    "icon": {
                                                        "type": "string",
                                                        "maxLength": 100
                                                    },
                                                    "type": {
                                                        "type": "string",
                                                        "maxLength": 100
                                                    },
                                                    "category": {
                                                        "type": "string",
                                                        "maxLength": 100
                                                    },
                                                    "title": {
                                                        "type": "string",
                                                        "maxLength": 500
                                                    },
                                                    "text": {
                                                        "type": "string",
                                                        "maxLength": 500
                                                    },
                                                    "primaryValue": {
                                                        "anyOf": [
                                                            {
                                                                "type": "number"
                                                            },
                                                            {
                                                                "type": "string",
                                                                "maxLength": 100
                                                            },
                                                            {
                                                                "type": "boolean"
                                                            }
                                                        ]
                                                    },
                                                    "secondaryValue": {
                                                        "anyOf": [
                                                            {
                                                                "type": "number"
                                                            },
                                                            {
                                                                "type": "string",
                                                                "maxLength": 100
                                                            },
                                                            {
                                                                "type": "boolean"
                                                            }
                                                        ]
                                                    },
                                                    "props": {
                                                        "type": "object"
                                                    },
                                                    "setupLink": {
                                                        "type": "string",
                                                        "maxLength": 100,
                                                        "pattern": "^(phase|step|field|advancedSettings):([\\w-])+$"
                                                    }
                                                }
                                            }
                                        },
                                        "newerContainerId": {
                                            "type": "string"
                                        },
                                        "olderContainerId": {
                                            "type": "string"
                                        }
                                    },
                                    "additionalProperties": false,
                                    "required": [
                                        "id",
                                        "status",
                                        "createdAt",
                                        "launchType",
                                        "retryNumber"
                                    ]
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "No container exists with the provided id."
                    }
                },
                "parameters": [
                    {
                        "in": "header",
                        "name": "X-Phantombuster-Org",
                        "description": "ID of the org that is perfoming the operation (not necessary when using a third party key)",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "in": "query",
                        "required": true,
                        "name": "id",
                        "description": "Id of the container to fetch.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "in": "query",
                        "name": "withResultObject",
                        "description": "If set, the container's result object will be returned in the response.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "in": "query",
                        "name": "withOutput",
                        "description": "If set, the output of the container will be returned in the response.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "in": "query",
                        "name": "withRuntimeEvents",
                        "description": "If set, the runtime events associated with the container will be returned in the response.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "in": "query",
                        "name": "withNewerAndOlderContainerId",
                        "description": "If set, the older container's id and the newer container's id will be returned in the response.",
                        "schema": {
                            "type": "string"
                        }
                    }
                ]
            }
        },
        "/branches/fetch-all": {
            "get": {
                "description": "Gets the branches associated with the current organization's id.",
                "tags": [
                    "branches"
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "type": "object",
                                        "properties": {
                                            "id": {
                                                "type": "string"
                                            },
                                            "name": {
                                                "type": "string",
                                                "pattern": "^[\\w-]{1,50}$"
                                            },
                                            "created_at": {
                                                "type": "number"
                                            }
                                        },
                                        "additionalProperties": false,
                                        "required": [
                                            "id",
                                            "name",
                                            "created_at"
                                        ]
                                    }
                                }
                            }
                        }
                    }
                },
                "parameters": [
                    {
                        "in": "header",
                        "name": "X-Phantombuster-Org",
                        "description": "ID of the org that is perfoming the operation (not necessary when using a third party key)",
                        "schema": {
                            "type": "string"
                        }
                    }
                ]
            }
        },
        "/branches/diff": {
            "get": {
                "tags": [
                    "branches"
                ],
                "description": "Gets the length difference between the staging and release branch of all scripts.",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "type": "object",
                                        "properties": {
                                            "id": {
                                                "type": "string"
                                            },
                                            "name": {
                                                "type": "string",
                                                "pattern": "^\\w([\\w\\. -]{0,48}\\w)?\\.(?:coffee|js)$"
                                            },
                                            "diffLength": {
                                                "type": "number"
                                            },
                                            "stagingVisibility": {
                                                "type": "string",
                                                "enum": [
                                                    "private",
                                                    "semi public",
                                                    "public",
                                                    "semi open source",
                                                    "open source"
                                                ]
                                            },
                                            "releaseVisibility": {
                                                "type": "string",
                                                "enum": [
                                                    "private",
                                                    "semi public",
                                                    "public",
                                                    "semi open source",
                                                    "open source"
                                                ]
                                            },
                                            "stagingAccessList": {
                                                "type": "array",
                                                "items": {
                                                    "type": "string",
                                                    "pattern": "^[a-z][a-z0-9-_]{1,48}[a-z0-9_]$"
                                                },
                                                "nullable": true
                                            },
                                            "releaseAccessList": {
                                                "type": "array",
                                                "items": {
                                                    "type": "string",
                                                    "pattern": "^[a-z][a-z0-9-_]{1,48}[a-z0-9_]$"
                                                },
                                                "nullable": true
                                            }
                                        },
                                        "additionalProperties": false,
                                        "required": [
                                            "id",
                                            "name",
                                            "diffLength",
                                            "stagingVisibility"
                                        ]
                                    }
                                }
                            }
                        }
                    }
                },
                "parameters": [
                    {
                        "in": "header",
                        "name": "X-Phantombuster-Org",
                        "description": "ID of the org that is perfoming the operation (not necessary when using a third party key)",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "in": "query",
                        "name": "name",
                        "description": "Name of the script branch to fetch the diff from.",
                        "schema": {
                            "type": "string",
                            "pattern": "^[\\w-]{1,50}$"
                        }
                    }
                ]
            }
        },
        "/agents/launch": {
            "post": {
                "description": "Adds an agent to the launch queue.",
                "tags": [
                    "agents"
                ],
                "responses": {
                    "200": {
                        "description": "Agent launched successfully."
                    },
                    "400": {
                        "description": "A provided parameter is duplicated or the launch argument is too big."
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "id": {
                                        "description": "Id of the agent to launch.",
                                        "type": "string"
                                    },
                                    "argument": {
                                        "description": "Agent argument. Can either be a JSON string or a plain object. The argument can be retrieved with buster.argument in the agent’s script.",
                                        "anyOf": [
                                            {
                                                "type": "string"
                                            },
                                            {
                                                "type": "object"
                                            }
                                        ]
                                    },
                                    "arguments": {
                                        "description": "Agent argument. Can either be a JSON string or a plain object. The argument can be retrieved with buster.argument in the agent’s script.",
                                        "anyOf": [
                                            {
                                                "type": "string"
                                            },
                                            {
                                                "type": "object"
                                            }
                                        ]
                                    },
                                    "bonusArgument": {
                                        "description": "Agent bonus argument. Can either be a JSON string or a plain object. This bonus argument is single-use, it will only be used for the current launch. If present, it will be merged with the original argument, resulting in an effective argument that can be retrieved with buster.argument in the agent’s script.",
                                        "anyOf": [
                                            {
                                                "type": "string"
                                            },
                                            {
                                                "type": "object"
                                            }
                                        ]
                                    },
                                    "saveArgument": {
                                        "type": "boolean",
                                        "description": "If true, argument will be saved as the default launch options for the agent."
                                    },
                                    "saveArguments": {
                                        "type": "boolean",
                                        "description": "If true, argument will be saved as the default launch options for the agent."
                                    },
                                    "manualLaunch": {
                                        "type": "boolean",
                                        "description": "If set, the agent will be considered as \"launched manually\"."
                                    },
                                    "maxInstanceCount": {
                                        "type": "number",
                                        "description": "If set, the agent will only be launched if the number of already running instances is below the specified number.",
                                        "minimum": 1
                                    }
                                },
                                "additionalProperties": false,
                                "required": [
                                    "id"
                                ]
                            }
                        }
                    }
                },
                "parameters": [
                    {
                        "in": "header",
                        "name": "X-Phantombuster-Org",
                        "description": "ID of the org that is perfoming the operation (not necessary when using a third party key)",
                        "schema": {
                            "type": "string"
                        }
                    }
                ]
            }
        },
        "/agents/launch-soon": {
            "post": {
                "description": "Schedules an agent to launch before a specific time.",
                "tags": [
                    "agents"
                ],
                "responses": {
                    "200": {
                        "description": "Agent has been scheduled to launch successfully."
                    },
                    "400": {
                        "description": "A provided parameter is duplicated or the launch argument is too big."
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "id": {
                                        "description": "Id of the agent to schedule for launch.",
                                        "type": "string"
                                    },
                                    "argument": {
                                        "description": "Agent argument. Can either be a JSON string or a plain object. The argument can be retrieved with buster.argument in the agent’s script.",
                                        "anyOf": [
                                            {
                                                "type": "string"
                                            },
                                            {
                                                "type": "object"
                                            }
                                        ]
                                    },
                                    "arguments": {
                                        "description": "Agent argument. Can either be a JSON string or a plain object. The argument can be retrieved with buster.argument in the agent’s script.",
                                        "anyOf": [
                                            {
                                                "type": "string"
                                            },
                                            {
                                                "type": "object"
                                            }
                                        ]
                                    },
                                    "minutes": {
                                        "type": "integer",
                                        "minimum": 0,
                                        "description": "Determines in how many minutes the agent will launch. If the agent is launched manually before the expected launch time, the agent will not launch automatically."
                                    },
                                    "saveArgument": {
                                        "type": "boolean",
                                        "description": "If true, argument will be saved as the default launch options for the agent."
                                    },
                                    "saveArguments": {
                                        "type": "boolean",
                                        "description": "If true, argument will be saved as the default launch options for the agent."
                                    }
                                },
                                "additionalProperties": false,
                                "required": [
                                    "id",
                                    "minutes"
                                ]
                            }
                        }
                    }
[...]
