{
    "openapi": "3.0.0",
    "servers": [
        {
            "description": "Phantombuster api",
            "url": "https://api.phantombuster.com/api/v2"
        },
        {
            "description": "SwaggerHub API Auto Mocking",
            "url": "https://virtserver.swaggerhub.com/Phantombuster/Phantombuster-v2/2.0.0"
        }
    ],
    "info": {
        "description": "Phantombuster API v2. Swagger api specification is located at https://github.com/phantombuster/public-gists/blob/master/swagger-api-v2.json",
        "version": "2.0.0",
        "title": "Phantombuster API v2",
        "contact": {
            "email": "contact@phantombuster.com"
        },
        "license": {
            "name": "ISC",
            "url": "https://opensource.org/licenses/ISC"
        }
    },
    "components": {
        "securitySchemes": {
            "apiKeyAuth": {
                "type": "apiKey",
                "in": "header",
                "name": "X-Phantombuster-Key"
            }
        },
        "parameters": {
            "orgId": {
                "in": "header",
                "name": "X-Phantombuster-Org",
                "description": "ID of the org that is perfoming the operation (not necessary when using a third party key)",
                "schema": {
                    "type": "string"
                }
            }
        }
    },
    "security": [
        {
            "apiKeyAuth": []
        }
    ],
    "tags": [
        {
            "name": "sessions"
        },
        {
            "name": "branches"
        },
        {
            "name": "scripts"
        },
        {
            "name": "users"
        },
        {
            "name": "orgs-users"
        },
        {
            "name": "orgs"
        },
        {
            "name": "events"
        },
        {
            "name": "containers"
        },
        {
            "name": "agents"
        },
        {
            "name": "admin"
        }
    ],
    "paths": {
        "/users/fetch-me": {
            "get": {
                "description": "Gets the current user's info. If a sessionId is not provided the endpoint will create a new session and return the newly created id.\n",
                "tags": [
                    "users"
                ],
                "security": [],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "sessionId": {
                                            "type": "string"
                                        },
                                        "user": {
                                            "type": "object",
                                            "properties": {
                                                "id": {
                                                    "type": "string"
                                                },
                                                "email": {
                                                    "type": "string"
                                                },
                                                "firstName": {
                                                    "type": "string"
                                                },
                                                "lastName": {
                                                    "type": "string"
                                                },
                                                "phone": {
                                                    "type": "string",
                                                    "nullable": true
                                                },
                                                "company": {
                                                    "type": "string",
                                                    "nullable": true
                                                },
                                                "job": {
                                                    "type": "string",
                                                    "nullable": true
                                                },
                                                "newsletter": {
                                                    "type": "boolean"
                                                },
                                                "isEmailValidated": {
                                                    "type": "boolean"
                                                },
                                                "userDeletionIn": {
                                                    "type": "number",
                                                    "nullable": true
                                                },
                                                "detailedOrg": {
                                                    "type": "object",
                                                    "properties": {
                                                        "id": {
                                                            "type": "string"
                                                        },
                                                        "name": {
                                                            "type": "string",
                                                            "pattern": "^[a-z][a-z0-9-_]{1,48}[a-z0-9_]$"
                                                        },
                                                        "displayName": {
                                                            "type": "string"
                                                        },
                                                        "dailyExecutionTime": {
                                                            "type": "number"
                                                        },
                                                        "dailyMail": {
                                                            "type": "number"
                                                        },
                                                        "dailyCaptcha": {
                                                            "type": "number"
                                                        },
                                                        "dailyDiscoveredMail": {
                                                            "type": "number"
                                                        },
                                                        "s3Storage": {
                                                            "type": "number"
                                                        },
                                                        "s3Folder": {
                                                            "type": "string"
                                                        },
                                                        "planName": {
                                                            "type": "string"
                                                        },
                                                        "plan": {
                                                            "type": "object",
                                                            "properties": {
                                                                "name": {
                                                                    "type": "string",
                                                                    "maxLength": 100
                                                                },
                                                                "s3Storage": {
                                                                    "type": "number"
                                                                },
                                                                "mongoStorage": {
                                                                    "type": "number"
                                                                },
                                                                "parallelism": {
                                                                    "type": "number"
                                                                },
                                                                "agents": {
                                                                    "type": "number"
                                                                },
                                                                "scripts": {
                                                                    "type": "number"
                                                                },
                                                                "dailyExecutionTime": {
                                                                    "type": "number"
                                                                },
                                                                "dailyMails": {
                                                                    "type": "number"
                                                                },
                                                                "dailyCaptchas": {
                                                                    "type": "number"
                                                                },
                                                                "dailyDiscoveredMails": {
                                                                    "type": "number"
                                                                },
                                                                "isAvailable": {
                                                                    "type": "boolean"
                                                                },
                                                                "isUpgradable": {
                                                                    "type": "boolean"
                                                                },
                                                                "duration": {
                                                                    "type": "number"
                                                                },
                                                                "monthlyPrice": {
                                                                    "type": "number"
                                                                },
                                                                "yearlyPrice": {
                                                                    "type": "number"
                                                                }
                                                            },
                                                            "additionalProperties": false,
                                                            "required": [
                                                                "name",
                                                                "s3Storage",
                                                                "mongoStorage",
                                                                "parallelism",
                                                                "agents",
                                                                "scripts",
                                                                "dailyExecutionTime",
                                                                "dailyMails",
                                                                "dailyCaptchas",
                                                                "dailyDiscoveredMails",
                                                                "isAvailable",
                                                                "isUpgradable",
                                                                "duration",
                                                                "monthlyPrice",
                                                                "yearlyPrice"
                                                            ]
                                                        },
                                                        "planStartedAt": {
                                                            "type": "number"
                                                        },
                                                        "timezone": {
                                                            "type": "string"
                                                        },
                                                        "nbRunningContainer": {
                                                            "type": "number"
                                                        },
                                                        "delinquentStatus": {
                                                            "type": "string",
                                                            "enum": [
                                                                "gracePeriod",
                                                                "delinquent"
                                                            ],
                                                            "nullable": true
                                                        }
                                                    },
                                                    "additionalProperties": false,
                                                    "required": [
                                                        "id",
                                                        "name",
                                                        "dailyExecutionTime",
                                                        "dailyMail",
                                                        "dailyCaptcha",
                                                        "dailyDiscoveredMail",
                                                        "s3Storage",
                                                        "planName",
                                                        "plan",
                                                        "planStartedAt",
                                                        "timezone",
                                                        "nbRunningContainer"
                                                    ]
                                                },
                                                "orgs": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "object",
                                                        "properties": {
                                                            "id": {
                                                                "type": "string"
                                                            },
                                                            "name": {
                                                                "type": "string",
                                                                "pattern": "^[a-z][a-z0-9-_]{1,48}[a-z0-9_]$"
                                                            },
                                                            "displayName": {
                                                                "type": "string"
                                                            }
                                                        },
                                                        "additionalProperties": false,
                                                        "required": [
                                                            "id",
                                                            "name"
                                                        ]
                                                    }
                                                },
                                                "adminRights": {
                                                    "type": "string",
                                                    "enum": [
                                                        "admin",
                                                        "super admin",
                                                        "monitoring"
                                                    ],
                                                    "nullable": true
                                                },
                                                "isLoggedAs": {
                                                    "type": "boolean"
                                                },
                                                "createdAt": {
                                                    "type": "number"
                                                },
                                                "enabledExperiments": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "string",
                                                        "enum": [
                                                            "hubspotWidget",
                                                            "stepSetup",
                                                            "myPhantoms",
                                                            "navbar",
                                                            "seeBetaPhantoms",
                                                            "showCompatiblePhantomsLink"
                                                        ]
                                                    },
                                                    "nullable": true
                                                },
                                                "developerMode": {
                                                    "type": "boolean"
                                                }
                                            },
                                            "additionalProperties": false,
                                            "required": [
                                                "id",
                                                "email",
                                                "firstName",
                                                "lastName",
                                                "newsletter",
                                                "isEmailValidated",
                                                "detailedOrg",
                                                "orgs",
                                                "createdAt"
                                            ]
                                        }
                                    },
                                    "additionalProperties": false,
                                    "required": [
                                        "sessionId"
                                    ]
                                }
                            }
                        }
                    }
                },
                "parameters": [
                    {
                        "in": "header",
                        "name": "X-Phantombuster-Org",
                        "description": "ID of the org that is perfoming the operation (not necessary when using a third party key)",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "in": "query",
                        "name": "detailedOrgId",
                        "description": "If set, the corresponding detailedOrg will be returned.",
                        "schema": {
                            "description": "If set, the corresponding detailedOrg will be returned.",
                            "type": "string"
                        }
                    }
                ]
            }
        },
        "/users/update-me": {
            "post": {
                "description": "Updates the current user's info.",
                "tags": [
                    "users"
                ],
                "responses": {
                    "200": {
                        "description": "User updated successfully."
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "firstName": {
                                        "type": "string",
                                        "maxLength": 100,
                                        "description": "New user first name."
                                    },
                                    "lastName": {
                                        "type": "string",
                                        "maxLength": 100,
                                        "description": "New user last name."
                                    },
                                    "phone": {
                                        "description": "New phone number.",
                                        "type": "string",
                                        "maxLength": 100,
                                        "nullable": true
                                    },
                                    "company": {
                                        "description": "New company name.",
                                        "type": "string",
                                        "maxLength": 100,
                                        "nullable": true
                                    },
                                    "job": {
                                        "description": "New job name.",
                                        "type": "string",
                                        "maxLength": 100,
                                        "nullable": true
                                    },
                                    "newsletter": {
                                        "description": "If set, you agree to subscribe to the newsletter.",
                                        "type": "boolean"
                                    },
                                    "enabledExperiments": {
                                        "description": "Experiments you wish to enable on your account.",
                                        "type": "array",
                                        "items": {
                                            "type": "string",
                                            "enum": [
                                                "hubspotWidget",
                                                "stepSetup",
                                                "myPhantoms",
                                                "navbar",
                                                "seeBetaPhantoms",
                                                "showCompatiblePhantomsLink"
                                            ]
                                        },
                                        "nullable": true
                                    },
                                    "developerMode": {
                                        "description": "If set, developer-specific features will be enabled.",
                                        "type": "boolean"
                                    }
                                },
                                "additionalProperties": false
                            }
                        }
                    }
                },
                "parameters": [
                    {
                        "in": "header",
                        "name": "X-Phantombuster-Org",
                        "description": "ID of the org that is perfoming the operation (not necessary when using a third party key)",
                        "schema": {
                            "type": "string"
                        }
                    }
                ]
            }
        },
        "/users/change-email": {
            "post": {
                "description": "Updates the current user's email.",
                "tags": [
                    "users"
                ],
                "responses": {
                    "200": {
                        "description": "Email successfully updated."
                    },
                    "401": {
                        "description": "Invalid password or an email change has already been made recently."
                    },
                    "412": {
                        "description": "Email already in use or already validated."
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "password": {
                                        "type": "string",
                                        "minLength": 8,
                                        "maxLength": 100,
                                        "description": "Account password. Needed to perform the email change."
                                    },
                                    "email": {
                                        "type": "string",
                                        "format": "email",
                                        "maxLength": 100,
                                        "description": "New account email."
                                    }
                                },
                                "additionalProperties": false,
                                "required": [
                                    "password",
                                    "email"
                                ]
                            }
                        }
                    }
                },
                "parameters": [
                    {
                        "in": "header",
                        "name": "X-Phantombuster-Org",
                        "description": "ID of the org that is perfoming the operation (not necessary when using a third party key)",
                        "schema": {
                            "type": "string"
                        }
                    }
                ]
            }
        },
        "/orgs-users/save": {
            "post": {
                "description": "Updates a user's organization settings. Only web sessions are allowed to call this endpoint. Omit the `X-Phantombuster-Org` header to call this endpoint.\n",
                "tags": [
                    "orgs-users"
                ],
                "responses": {
                    "200": {
                        "description": "Organization successfully updated."
                    },
                    "401": {
                        "description": "You do not have access to the organization you are trying to update."
                    },
                    "403": {
                        "description": "Endpoint was called with a non-web session."
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "userId": {
                                        "description": "Id of the user to update.",
                                        "type": "string"
                                    },
                                    "notifyUsage": {
                                        "description": "If set to true, the user with the provided userId will be notified of the usage.",
                                        "type": "boolean"
                                    }
                                },
                                "additionalProperties": false,
                                "required": [
                                    "userId",
                                    "notifyUsage"
                                ]
                            }
                        }
                    }
                },
                "parameters": [
                    {
                        "in": "header",
                        "name": "X-Phantombuster-Org",
                        "description": "ID of the org that is perfoming the operation (not necessary when using a third party key)",
                        "schema": {
                            "type": "string"
                        }
                    }
                ]
            }
        },
        "/orgs/export-agent-usage": {
            "get": {
                "description": "Gets a csv file containing agent usage info of the current user's organization.",
                "tags": [
                    "orgs"
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                },
                "parameters": [
                    {
                        "in": "header",
                        "name": "X-Phantombuster-Org",
                        "description": "ID of the org that is perfoming the operation (not necessary when using a third party key)",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "in": "query",
                        "name": "days",
                        "required": true,
                        "description": "How many days of data to export. The number of days should not exceed 6 months.",
                        "schema": {
                            "type": "string",
                            "description": "How many days of data to export. The number of days should not exceed 6 months."
                        }
                    }
                ]
            }
        },
        "/orgs/export-container-usage": {
            "get": {
                "description": "Gets a csv file containing container usage info of the current user's organization.",
                "tags": [
                    "orgs"
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                },
                "parameters": [
                    {
                        "in": "header",
                        "name": "X-Phantombuster-Org",
                        "description": "ID of the org that is perfoming the operation (not necessary when using a third party key)",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "in": "query",
                        "name": "days",
                        "required": true,
                        "description": "How many days of data to export. The number of days should not exceed 6 months.",
                        "schema": {
                            "type": "string",
                            "description": "How many days of data to export. The number of days should not exceed 6 months."
                        }
                    },
                    {
                        "in": "query",
                        "name": "agentId",
                        "description": "If set, the data will only be exported for this agent.",
                        "schema": {
                            "type": "string",
                            "description": "How many days of data to export. The number of days should not exceed 6 months."
                        }
                    }
                ]
            }
        },
        "/orgs/fetch-agent-groups": {
            "get": {
                "description": "Gets the agent groups and order of the current user's organization.",
                "tags": [
                    "orgs"
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "anyOf": [
                                            {
                                                "type": "string"
                                            },
                                            {
                                                "type": "object",
                                                "title": "IAgentGroup",
                                                "properties": {
                                                    "id": {
                                                        "type": "string"
                                                    },
                                                    "name": {
                                                        "type": "string",
                                                        "maxLength": 100
                                                    },
                                                    "agents": {
                                                        "type": "array",
                                                        "items": {
                                                            "type": "string"
                                                        }
                                                    }
                                                },
                                                "additionalProperties": false,
                                                "required": [
                                                    "name",
                                                    "agents",
                                                    "id"
                                                ]
                                            }
                                        ]
                                    }
                                }
                            }
                        }
                    }
                },
                "parameters": [
                    {
                        "in": "header",
                        "name": "X-Phantombuster-Org",
                        "description": "ID of the org that is perfoming the operation (not necessary when using a third party key)",
                        "schema": {
                            "type": "string"
                        }
                    }
                ]
            }
        },
        "/orgs/save-agent-groups": {
            "post": {
                "description": "Updates the agent groups and order of the current user's organization.",
                "tags": [
                    "orgs"
                ],
                "responses": {
                    "200": {
                        "description": "Groups successfully updated.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "agentGroups": {
                                            "type": "array",
                                            "items": {
                                                "anyOf": [
                                                    {
                                                        "type": "string"
                                                    },
                                                    {
                                                        "type": "object",
                                                        "title": "IAgentGroup",
                                                        "properties": {
                                                            "id": {
                                                                "type": "string"
                                                            },
                                                            "name": {
                                                                "type": "string",
                                                                "maxLength": 100
                                                            },
                                                            "agents": {
                                                                "type": "array",
                                                                "items": {
                                                                    "type": "string"
                                                                }
                                                            }
                                                        },
                                                        "additionalProperties": false,
                                                        "required": [
                                                            "name",
                                                            "agents",
                                                            "id"
                                                        ]
                                                    }
                                                ]
                                            }
                                        }
                                    },
                                    "additionalProperties": false,
                                    "required": [
                                        "agentGroups"
                                    ]
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid agent ids provided."
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "agentGroups": {
                                        "description": "New agent groups. Order of the groups and agents will be kept.",
                                        "type": "array",
                                        "items": {
                                            "anyOf": [
                                                {
                                                    "type": "string"
                                                },
                                                {
                                                    "type": "object",
                                                    "title": "IAgentGroup",
                                                    "properties": {
                                                        "id": {
                                                            "type": "string"
                                                        },
                                                        "name": {
                                                            "type": "string",
                                                            "maxLength": 100
                                                        },
                                                        "agents": {
                                                            "type": "array",
                                                            "items": {
                                                                "type": "string"
                                                            }
                                                        }
                                                    },
                                                    "additionalProperties": false,
                                                    "required": [
                                                        "name",
                                                        "agents",
                                                        "id"
                                                    ]
                                                }
                                            ]
                                        }
                                    }
                                },
                                "additionalProperties": false,
                                "required": [
                                    "agentGroups"
                                ]
                            }
                        }
                    }
                },
                "parameters": [
                    {
                        "in": "header",
                        "name": "X-Phantombuster-Org",
                        "description": "ID of the org that is perfoming the operation (not necessary when using a third party key)",
                        "schema": {
                            "type": "string"
                        }
                    }
                ]
            }
        },
        "/orgs/fetch": {
            "get": {
                "description": "Gets the current organization.",
                "tags": [
                    "orgs"
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "id": {
                                            "type": "string"
                                        },
                                        "name": {
                                            "type": "string",
                                            "pattern": "^[a-z][a-z0-9-_]{1,48}[a-z0-9_]$"
                                        },
                                        "dailyExecutionTime": {
                                            "type": "number"
                                        },
                                        "dailyMail": {
                                            "type": "number"
                                        },
                                        "dailyCaptcha": {
                                            "type": "number"
                                        },
                                        "dailyDiscoveredMail": {
                                            "type": "number"
                                        },
                                        "s3Storage": {
                                            "type": "number"
                                        },
                                        "s3Folder": {
                                            "type": "string"
                                        },
                                        "planSlug": {
                                            "type": "string"
                                        },
                                        "planStartedAt": {
                                            "type": "number"
                                        },
                                        "timezone": {
                                            "type": "string"
                                        },
                                        "company": {
                                            "type": "string",
                                            "nullable": true
                                        },
                                        "billingAddress": {
                                            "title": "IAddress",
                                            "oneOf": [
                                                {
                                                    "type": "object",
                                                    "properties": {
                                                        "street": {
                                                            "type": "string",
                                                            "minLength": 1,
                                                            "maxLength": 1000
                                                        },
                                                        "city": {
                                                            "type": "string",
                                                            "minLength": 1,
                                                            "maxLength": 100
                                                        },
                                                        "zip": {
                                                            "type": "string",
                                                            "minLength": 1,
                                                            "maxLength": 100
                                                        },
                                                        "countryCode": {
                                                            "type": "string",
                                                            "minLength": 1,
                                                            "maxLength": 100
                                                        }
                                                    },
                                                    "additionalProperties": false,
                                                    "required": [
                                                        "street",
                                                        "city",
                                                        "zip",
                                                        "countryCode"
                                                    ]
                                                },
                                                {
                                                    "type": "object",
                                                    "properties": {
                                                        "street": {
                                                            "type": "string",
                                                            "maxLength": 0
                                                        },
                                                        "city": {
                                                            "type": "string",
                                                            "maxLength": 0
                                                        },
                                                        "zip": {
                                                            "type": "string",
                                                            "maxLength": 0
                                                        },
                                                        "countryCode": {
                                                            "type": "string",
                                                            "maxLength": 0
                                                        }
                                                    },
                                                    "additionalProperties": false,
                                                    "required": [
                                                        "street",
                                                        "city",
                                                        "zip",
                                                        "countryCode"
                                                    ]
                                                }
                                            ],
                                            "nullable": true
                                        },
                                        "billingMail": {
                                            "type": "string",
                                            "nullable": true
                                        },
                                        "billingFirstName": {
                                            "type": "string",
                                            "nullable": true
                                        },
                                        "billingLastName": {
                                            "type": "string",
                                            "nullable": true
                                        },
                                        "vatId": {
                                            "type": "string",
                                            "nullable": true
                                        },
                                        "globalObject": {
                                            "type": "string",
                                            "nullable": true
                                        },
                                        "proxies": {
                                            "anyOf": [
                                                {
                                                    "title": "IProxyPoolList",
                                                    "type": "object",
                                                    "x-patternProperties": {
                                                        "^\\d+$": {
                                                            "title": "IProxyPool",
                                                            "type": "object",
                                                            "properties": {
                                                                "name": {
                                                                    "type": "string",
                                                                    "maxLength": 100
                                                                },
                                                                "test": {
                                                                    "type": "boolean"
                                                                },
                                                                "proxies": {
                                                                    "type": "array",
                                                                    "maxItems": 1000,
                                                                    "items": {
                                                                        "type": "object",
                                                                        "properties": {
                                                                            "type": {
                                                                                "type": "string",
                                                                                "enum": [
                                                                                    "http"
                                                                                ]
                                                                            },
                                                                            "address": {
                                                                                "type": "string",
                                                                                "maxLength": 100
                                                                            },
                                                                            "username": {
                                                                                "type": "string",
                                                                                "maxLength": 100,
                                                                                "nullable": true
                                                                            },
                                                                            "password": {
                                                                                "type": "string",
                                                                                "maxLength": 100,
                                                                                "nullable": true
                                                                            },
                                                                            "lastTestDate": {
                                                                                "type": "number",
                                                                                "nullable": true
                                                                            },
                                                                            "lastTestResult": {
                                                                                "type": "string",
                                                                                "nullable": true
                                                                            },
                                                                            "lastTestDescription": {
                                                                                "type": "string",
                                                                                "nullable": true
                                                                            }
                                                                        },
                                                                        "additionalProperties": false,
                                                                        "required": [
                                                                            "type",
                                                                            "address"
                                                                        ]
                                                                    }
                                                                }
                                                            },
                                                            "additionalProperties": false,
                                                            "required": [
                                                                "name",
                                                                "proxies"
                                                            ]
                                                        }
                                                    },
                                                    "additionalProperties": true
                                                }
                                            ],
                                            "nullable": true
                                        },
                                        "createdAt": {
                                            "type": "number"
                                        },
                                        "plan": {
                                            "type": "object",
                                            "properties": {
                                                "name": {
                                                    "type": "string",
                                                    "maxLength": 100
                                                },
                                                "s3Storage": {
                                                    "type": "number"
                                                },
                                                "mongoStorage": {
                                                    "type": "number"
                                                },
                                                "parallelism": {
                                                    "type": "number"
                                                },
                                                "agents": {
                                                    "type": "number"
                                                },
                                                "scripts": {
                                                    "type": "number"
                                                },
                                                "dailyExecutionTime": {
                                                    "type": "number"
                                                },
                                                "dailyMails": {
                                                    "type": "number"
                                                },
                                                "dailyCaptchas": {
                                                    "type": "number"
                                                },
                                                "dailyDiscoveredMails": {
                                                    "type": "number"
                                                },
                                                "isAvailable": {
                                                    "type": "boolean"
                                                },
                                                "isUpgradable": {
                                                    "type": "boolean"
                                                },
                                                "duration": {
                                                    "type": "number"
                                                },
                                                "monthlyPrice": {
                                                    "type": "number"
                                                },
                                                "yearlyPrice": {
                                                    "type": "number"
                                                }
                                            },
                                            "additionalProperties": false,
                                            "required": [
                                                "name",
                                                "s3Storage",
                                                "mongoStorage",
                                                "parallelism",
                                                "agents",
                                                "scripts",
                                                "dailyExecutionTime",
                                                "dailyMails",
                                                "dailyCaptchas",
                                                "dailyDiscoveredMails",
                                                "isAvailable",
                                                "isUpgradable",
                                                "duration",
                                                "monthlyPrice",
                                                "yearlyPrice"
                                            ]
                                        },
                                        "displayName": {
                                            "type": "string"
                                        }
                                    },
                                    "additionalProperties": false,
                                    "required": [
                                        "id",
                                        "name",
                                        "dailyExecutionTime",
                                        "dailyMail",
                                        "dailyCaptcha",
                                        "dailyDiscoveredMail",
                                        "s3Storage",
                                        "s3Folder",
                                        "planSlug",
                                        "planStartedAt",
                                        "createdAt",
                                        "plan",
                                        "displayName",
                                        "billingFirstName",
                                        "billingLastName"
                                    ]
                                }
                            }
                        }
                    }
                },
                "parameters": [
                    {
                        "in": "header",
                        "name": "X-Phantombuster-Org",
                        "description": "ID of the org that is perfoming the operation (not necessary when using a third party key)",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "in": "query",
                        "name": "withGlobalObject",
                        "description": "If set, the organization's globalObject will be returned in the response.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "in": "query",
                        "name": "withProxies",
                        "description": "If set, the organization's proxies will be returned in the response.",
                        "schema": {
                            "type": "string"
                        }
                    }
                ]
            }
        },
        "/orgs/fetch-resources": {
            "get": {
                "description": "Gets the current organization's resources and usage.",
                "tags": [
                    "orgs"
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "dailyExecutionTime": {
                                            "type": "number"
                                        },
                                        "dailyMail": {
                                            "type": "number"
                                        },
                                        "dailyCaptcha": {
                                            "type": "number"
                                        },
                                        "dailyDiscoveredMail": {
                                            "type": "number"
                                        },
                                        "s3Storage": {
                                            "type": "number"
                                        },
                                        "agentCount": {
                                            "type": "number"
                                        },
                                        "planName": {
                                            "type": "string"
                                        },
                                        "plan": {
                                            "type": "object",
                                            "properties": {
                                                "name": {
                                                    "type": "string",
                                                    "maxLength": 100
                                                },
                                                "s3Storage": {
                                                    "type": "number"
                                                },
                                                "mongoStorage": {
                                                    "type": "number"
                                                },
                                                "parallelism": {
                                                    "type": "number"
                                                },
                                                "agents": {
                                                    "type": "number"
                                                },
                                                "scripts": {
                                                    "type": "number"
                                                },
                                                "dailyExecutionTime": {
                                                    "type": "number"
                                                },
                                                "dailyMails": {
                                                    "type": "number"
                                                },
                                                "dailyCaptchas": {
                                                    "type": "number"
                                                },
                                                "dailyDiscoveredMails": {
                                                    "type": "number"
                                                },
                                                "isAvailable": {
                                                    "type": "boolean"
                                                },
                                                "isUpgradable": {
                                                    "type": "boolean"
                                                },
                                                "duration": {
                                                    "type": "number"
                                                },
                                                "monthlyPrice": {
                                                    "type": "number"
                                                },
                                                "yearlyPrice": {
                                                    "type": "number"
                                                }
                                            },
                                            "additionalProperties": false,
                                            "required": [
                                                "name",
                                                "s3Storage",
                                                "mongoStorage",
                                                "parallelism",
                                                "agents",
                                                "scripts",
                                                "dailyExecutionTime",
                                                "dailyMails",
                                                "dailyCaptchas",
                                                "dailyDiscoveredMails",
                                                "isAvailable",
                                                "isUpgradable",
                                                "duration",
                                                "monthlyPrice",
                                                "yearlyPrice"
                                            ]
                                        },
                                        "dailyResourceNextResetAt": {
                                            "type": "number"
                                        }
                                    },
                                    "additionalProperties": false,
                                    "required": [
                                        "dailyExecutionTime",
                                        "dailyMail",
                                        "dailyCaptcha",
                                        "dailyDiscoveredMail",
                                        "s3Storage",
                                        "agentCount",
                                        "planName",
                                        "plan",
                                        "dailyResourceNextResetAt"
                                    ]
                                }
                            }
                        }
                    }
                },
                "parameters": [
                    {
                        "in": "header",
                        "name": "X-Phantombuster-Org",
                        "description": "ID of the org that is perfoming the operation (not necessary when using a third party key)",
                        "schema": {
                            "type": "string"
                        }
                    }
                ]
            }
        },
        "/orgs/fetch-users": {
            "get": {
                "description": "Gets the current organization's resources and usage.",
                "tags": [
                    "orgs"
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "type": "object",
                                        "properties": {
                                            "id": {
                                                "type": "string"
                                            },
                                            "email": {
                                                "type": "string"
                                            },
                                            "firstName": {
                                                "type": "string"
                                            },
                                            "lastName": {
                                                "type": "string"
                                            }
                                        },
                                        "additionalProperties": false,
                                        "required": [
                                            "id",
                                            "email",
                                            "firstName",
                                            "lastName"
                                        ]
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "You don't have the rights for the provided organization."
                    }
                },
                "parameters": [
                    {
                        "in": "header",
                        "name": "X-Phantombuster-Org",
                        "description": "ID of the org that is perfoming the operation (not necessary when using a third party key)",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "in": "query",
                        "name": "id",
                        "description": "Id of the organization to fetch users for.",
                        "schema": {
                            "type": "string"
                        }
                    }
                ]
            }
        },
        "/orgs/save": {
            "post": {
                "description": "Updates the current organization's info. Only web sessions are allowed to call this endpoint. Omit the `X-Phantombuster-Org` header to call this endpoint.\n",
                "tags": [
                    "orgs"
                ],
                "responses": {
                    "200": {
                        "description": "Organization updated successfully.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "id": {
                                            "type": "string"
                                        }
                                    },
                                    "additionalProperties": false,
                                    "required": [
                                        "id"
                                    ]
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid VAT ID or invalid billing address provided."
                    },
                    "403": {
                        "description": "Endpoint was called with a non-web session."
                    },
                    "412": {
                        "description": "Invalid VAT ID."
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "name": {
                                        "type": "string",
                                        "maxLength": 100,
                                        "description": "New organization name."
                                    },
                                    "displayName": {
                                        "type": "string",
                                        "maxLength": 100,
                                        "description": "New organization display name."
                                    },
                                    "timezone": {
                                        "type": "string",
                                        "maxLength": 100,
                                        "description": "New organization timezone. Changing your timezone will affect your agent's automatic scheduling."
                                    },
                                    "company": {
                                        "description": "New company name.",
                                        "type": "string",
                                        "maxLength": 100,
                                        "nullable": true
                                    },
                                    "billingAddress": {
                                        "description": "New billing address.",
                                        "title": "IAddress",
                                        "oneOf": [
                                            {
                                                "type": "object",
                                                "properties": {
                                                    "street": {
                                                        "type": "string",
                                                        "minLength": 1,
                                                        "maxLength": 1000
                                                    },
                                                    "city": {
                                                        "type": "string",
                                                        "minLength": 1,
                                                        "maxLength": 100
                                                    },
                                                    "zip": {
                                                        "type": "string",
                                                        "minLength": 1,
                                                        "maxLength": 100
                                                    },
                                                    "countryCode": {
                                                        "type": "string",
                                                        "minLength": 1,
                                                        "maxLength": 100
                                                    }
                                                },
                                                "additionalProperties": false,
                                                "required": [
                                                    "street",
                                                    "city",
                                                    "zip",
                                                    "countryCode"
                                                ]
                                            },
                                            {
                                                "type": "object",
                                                "properties": {
                                                    "street": {
                                                        "type": "string",
                                                        "maxLength": 0
                                                    },
                                                    "city": {
                                                        "type": "string",
                                                        "maxLength": 0
                                                    },
                                                    "zip": {
                                                        "type": "string",
                                                        "maxLength": 0
                                                    },
                                                    "countryCode": {
                                                        "type": "string",
                                                        "maxLength": 0
                                                    }
                                                },
                                                "additionalProperties": false,
                                                "required": [
                                                    "street",
                                                    "city",
                                                    "zip",
                                                    "countryCode"
                                                ]
                                            }
                                        ],
                                        "nullable": true
                                    },
                                    "billingMail": {
                                        "description": "New billing email address.",
                                        "type": "string",
                                        "nullable": true
                                    },
                                    "billingFirstName": {
                                        "description": "New billing first name.",
                                        "type": "string",
                                        "nullable": true
                                    },
                                    "billingLastName": {
                                        "description": "New billing last name.",
                                        "type": "string",
                                        "nullable": true
                                    },
                                    "vatId": {
                                        "description": "New organization's VAT id.",
                                        "type": "string",
                                        "maxLength": 100,
                                        "nullable": true
                                    },
                                    "globalObject": {
                                        "description": "New organization's global object.",
                                        "type": "string",
                                        "nullable": true
                                    },
                                    "proxies": {
                                        "description": "New organization's proxy pools.",
                                        "anyOf": [
                                            {
                                                "title": "IProxyPoolList",
                                                "type": "object",
                                                "x-patternProperties": {
                                                    "^\\d+$": {
                                                        "title": "IProxyPool",
                                                        "type": "object",
                                                        "properties": {
                                                            "name": {
                                                                "type": "string",
                                                                "maxLength": 100
                                                            },
                                                            "test": {
                                                                "type": "boolean"
                                                            },
                                                            "proxies": {
                                                                "type": "array",
                                                                "maxItems": 1000,
                                                                "items": {
                                                                    "type": "object",
                                                                    "properties": {
                                                                        "type": {
                                                                            "type": "string",
                                                                            "enum": [
                                                                                "http"
                                                                            ]
                                                                        },
                                                                        "address": {
                                                                            "type": "string",
                                                                            "maxLength": 100
                                                                        },
                                                                        "username": {
                                                                            "type": "string",
                                                                            "maxLength": 100,
                                                                            "nullable": true
                                                                        },
                                                                        "password": {
                                                                            "type": "string",
                                                                            "maxLength": 100,
                                                                            "nullable": true
                                                                        },
                                                                        "lastTestDate": {
                                                                            "type": "number",
                                                                            "nullable": true
                                                                        },
                                                                        "lastTestResult": {
                                                                            "type": "string",
                                                                            "nullable": true
                                                                        },
                                                                        "lastTestDescription": {
                                                                            "type": "string",
                                                                            "nullable": true
                                                                        }
                                                                    },
                                                                    "additionalProperties": false,
                                                                    "required": [
                                                                        "type",
                                                                        "address"
                                                                    ]
                                                                }
                                                            }
                                                        },
                                                        "additionalProperties": false,
                                                        "required": [
                                                            "name",
                                                            "proxies"
                                                        ]
                                                    }
                                                },
                                                "additionalProperties": true
                                            }
                                        ],
                                        "nullable": true
                                    }
                                },
                                "additionalProperties": false
                            }
                        }
                    }
                },
                "parameters": [
                    {
                        "in": "header",
                        "name": "X-Phantombuster-Org",
                        "description": "ID of the org that is perfoming the operation (not necessary when using a third party key)",
                        "schema": {
                            "type": "string"
                        }
                    }
                ]
            }
        },
        "/orgs/fetch-running-containers": {
            "get": {
                "description": "Gets the current organization's running containers.",
                "tags": [
                    "orgs"
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "containers": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "id": {
                                                        "type": "string"
                                                    },
                                                    "agentId": {
                                                        "type": "string"
                                                    },
                                                    "agentName": {
                                                        "type": "string",
                                                        "maxLength": 100,
                                                        "nullable": true
                                                    },
                                                    "createdAt": {
                                                        "type": "number"
                                                    },
                                                    "retryNumber": {
                                                        "type": "number"
                                                    },
                                                    "launchType": {
                                                        "type": "string",
                                                        "enum": [
                                                            "manual",
                                                            "user api call",
                                                            "scheduled once",
                                                            "scheduled repeatedly",
                                                            "scheduled after agent",
                                                            "retry",
                                                            "scheduled before"
                                                        ]
                                                    },
                                                    "scriptSlug": {
                                                        "type": "string",
                                                        "pattern": "^\\w([\\w\\. -]{0,48}\\w)?\\.(?:coffee|js)$"
                                                    }
                                                },
                                                "additionalProperties": false,
                                                "required": [
                                                    "id",
                                                    "agentId",
                                                    "createdAt",
                                                    "retryNumber",
                                                    "launchType",
                                                    "scriptSlug"
                                                ]
                                            }
                                        }
                                    },
                                    "additionalProperties": false,
                                    "required": [
                                        "containers"
                                    ]
                                }
                            }
                        }
                    }
                },
                "parameters": [
                    {
                        "in": "header",
                        "name": "X-Phantombuster-Org",
                        "description": "ID of the org that is perfoming the operation (not necessary when using a third party key)",
                        "schema": {
                            "type": "string"
                        }
                    }
                ]
            }
        },
        "/events/user/fetch-all": {
            "get": {
                "description": "Gets all events associated with the current user.",
                "tags": [
                    "events"
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "type": "object",
                                        "properties": {
                                            "id": {
                                                "type": "string"
                                            },
                                            "name": {
                                                "type": "string"
                                            },
                                            "userId": {
                                                "type": "string",
                                                "nullable": true
                                            },
                                            "orgId": {
                                                "type": "string",
                                                "nullable": true
                                            },
                                            "sessionId": {
                                                "type": "string",
                                                "nullable": true
                                            },
                                            "entityId": {
                                                "type": "string",
                                                "nullable": true
                                            },
                                            "nbUpdates": {
                                                "type": "number"
                                            },
                                            "userIp": {
                                                "type": "string",
                                                "nullable": true
                                            },
                                            "createdAt": {
                                                "type": "number"
                                            },
                                            "updatedAt": {
                                                "type": "number"
                                            },
                                            "data": {
                                                "type": "object",
                                                "properties": {},
                                                "additionalProperties": true
                                            }
                                        },
                                        "additionalProperties": false,
                                        "required": [
                                            "id",
                                            "name",
                                            "nbUpdates",
                                            "createdAt",
                                            "updatedAt",
                                            "data"
                                        ]
                                    }
                                }
                            }
                        }
                    }
                },
                "parameters": [
                    {
                        "in": "header",
                        "name": "X-Phantombuster-Org",
                        "description": "ID of the org that is perfoming the operation (not necessary when using a third party key)",
                        "schema": {
                            "type": "string"
                        }
                    }
                ]
            }
        },
        "/events/org/fetch-all": {
            "get": {
                "description": "Gets all events associated with the current user's organization.",
                "tags": [
                    "events"
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "type": "object",
                                        "properties": {
                                            "id": {
                                                "type": "string"
                                            },
                                            "name": {
                                                "type": "string"
                                            },
                                            "userId": {
                                                "type": "string",
                                                "nullable": true
                                            },
[...]
